div,
p,
a {
    word-break: break-word;
}

.container {
    max-width: 719px;
    margin: auto;
}

.footer-row__contacts {
    padding: 80px 24px 0;
}

.footer-sub-title,
.footer-article-text {
    margin-top: 24px;
}

.footer-locations, .footer-article-column{margin: 0 15px;}

.footer-article-underwrite {
    display: inline-block;
    margin-top: 20px;
}


.footer-locations {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: left;
    padding: 8px 0;
}

.footer-social-article {
    display: grid;
    align-items: center;
}

.footer-location {
    display: flex;
    flex-direction: row;
}

.footer-social {
    display: grid;
}

.footer-link-column {
    display: grid;
    grid-template-rows: auto-flow;
}


.footer-h2 {
    font-size: 28px;
    line-height: 36.4px;
    font-weight: 500;
    color: var(--main-color-second);
}

.footer {
    background-color: #e0e3dd;
}

.footer-social-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 5px;
}

.footer-left-column {
    padding-left: 30px;
    padding-right: 30px;
}

.footer-h2 {
    font-size: 34px;
    font-weight: 500;
    color: var(--main-color-second);
}

.footer-sub-title {
    font-size: 19px;
    font-weight: 500;
    color: var(--text-color-second);
}

.footer-article-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color-first);
}

.footer-article-underwrite {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: italic;
    color: var(--text-color-second);
}

.footer-article-link {
    color: var(--main-color-first);
    text-decoration: underline;
}

.footer-location_img-box {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(27, 79, 73, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 8px 0;
    padding: 12px;
}

.footer-location-article {
    margin: 8px;
}

.footer-location__New_York {
    padding-bottom: 8px;
    padding-top: 8px;
}

.footer-location-icon {
    width: 26px;
}

.footer-location-title {
    color: var(--main-color-first);
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 700;
}

.footer-contact-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 26.52px;
    color: var(--main-color-second);
}

.footer-contacts-description, .footer-contacts-description-link, .footer-phone-description-link {
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color-first);
}

.footer-contacts-description-link:hover {
    text-decoration: underline;
}

.footer-separating-line-box {
    padding: 15px 15px;
}

.footer-separating-line {
    max-width: 100%;
    height: 1px;
    margin: 30px;
    background-color: var(--text-color-first);
}

.footer-social-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--text-color-first);
    text-align: center;
    padding: 0 15px;
    margin-top: 30px;
}

.main-logo {
    display: inline-block;
    max-width: 182px;
}

.social-icon {
    fill: var(--main-color-first);
}

.footer-navigation-column {
    padding: 15px 20px;
    text-align: center;
}

.footer-column-navigation-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: var(--main-color-second);
}

.footer-navigation-link {
    color: var(--text-color-first);
    font-size: 17px;
    font-weight: 500;
    margin: 5px 5px 5px 0;
}

.footer-navigation-separating-line {
    display: inline-block;
    background-color: rgba(27, 79, 73, 0.12);
    max-width: auto;
    width: 54px;
    height: 3px;
    margin-bottom: 10px;
}

.copyright-section {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}


.copyright {
    color: var(--text-color-first);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

@media (min-width: 768px) {
    .footer-row {
        flex-direction: row;
    }

    .footer-h2 {
        font-size: 34px;
    }

    /* .footer-article-column {
        padding: 0 30px;
    } */

    .footer-row__contacts {
        display: grid;
        grid-template-columns: 65% 35%;
        padding: 115px 15px 0;
    }

    .footer-row__nav {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 60px 15px 80px;
        align-items: baseline;
    }


    P .copyright {
        font-size: 15px;
    }

    .footer-locations, .footer-article-column{margin: 0 15px;}

    .footer-locations {
        margin-left: 30px;
    }

    .footer-location_img-box {
        width: 70px;
        height: 70px;
    }

    .footer-location-icon {
        width: 40px;
    }

    .container {
        max-width: 1200px;
    }

    .footer-navigation-column {
        padding: 15px 0;
        text-align: left;
        display: block;
    }


    .copyright-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 16px 16px;
    }

    .created_by {
        margin-left: 0;
    }

    .all_rights_reserved {
        margin-right: 0;
    }

    .footer-social-text {
        text-align: left;
        padding: 0;
    }

    .footer-social-icons {
        margin-top: 0;
        margin-left: 0;
    }


    .footer-social-article {
        margin-top: 20px;
        display: block;
    }

    .footer-separating-line-box{
        padding: 0 15px;
    }

    .footer-separating-line {
        max-width: 1200px;
        margin: auto;
        margin-top: 30px;
    }


}