:root{
    --h-footer-color: rgb(27, 79, 73);
    --second-footer-color: rgb(95, 118, 115);
    --footer-text-color: rgb(119, 140, 137);
    --footer-accent-color: rgb(234, 112, 53);

}

.footer-h2{
    font-size: 34px;
    font-weight: 500;
    color: var(--h-footer-color);
}

.footer-sub-title{
    font-size: 19px;
    font-weight: 500;
    color: var(--second-footer-color);
}

.footer-article-text{
    font-size: 17px;
    font-weight: 400;
    color: var(--footer-text-color);
}

.footer-article-underwrite{
    font-size: 14px;
    font-weight: 400;
    font-style: italic;    
}

.footer-article-link{  
    color: var(--footer-accent-color);
    text-decoration: underline;
}

/*добавити задній фон і відступи іконкам*/
.footer-location-icon{
    width: 40px;    
    border-radius: 50%;
}

.footer-location-title{
    color: var(--footer-accent-color);
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 700;
}

.footer-contact-title{
    font-size: 17px;
    font-weight: 700;
    line-height: 26.52px;
    color: var(--h-footer-color);
}

.footer-contacts-description{
    font-size: 17px;
    font-weight: 400;
    color: var(--footer-text-color);
}

.footer-contacts-description:hover{
    text-decoration: underline;
}

.footer-separating-line{
    background-color: var(--footer-text-color);
    width: auto;
    height: 1px;
}

.footer-social-text{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--footer-text-color);
}

.social-icon {
    fill: var(--footer-accent-color);
}

.footer-column-navigation-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    color: var(--h-footer-color);
}

.footer-navigation-link{
    color: var(--footer-text-color);
    font-size: 17px;
    font-weight: 500;
}
.footer-navigation-separating-line{
    background-color: rgba(27, 79, 73, 0.12);
    width: 54px;
    height: 3px;
}

.copyright{
    color: var(--footer-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
