@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

/*img{
    display: block;
    width: 100%;
}*/

:root {
    --background-color: #f5f3ef;
    --main-color-first: rgb(234, 112, 53);
    --main-color-second: rgb(27, 79, 73);
    --text-color-first: rgb(119, 140, 137);
    --text-color-second: rgb(95, 118, 115);
    --testimonials-background-color-katy: rgb(221, 234, 255);
    --testimonials-background-color-mark-jane: rgb(225, 227, 222);
    --testimonials-background-color-lucy: rgb(249, 236, 215);
    --testimonials-svg-color-katy: rgb(41, 73, 140);
    --testimonials-svg-color-mark-jane: rgb(27, 79, 73);
    --testimonials-svg-color-lucy: rgb(234, 112, 53);
    --tesimonials-item-text-color-katy: rgb(93, 120, 177);
    --tesimonials-item-text-color-katy-junior: rgba(93,120,177,0.77);
    --tesimonials-item-text-color-mark-jane: rgb(119, 140, 137);
    --tesimonials-item-text-color-lucy: rgb(219, 153, 121);
    --services__card-treatment--button-hover: rgb(27, 48, 94);
    --services__card-border-color: rgba(0, 0, 0, 0);
    --services__card-treatment--button-background: rgb(40, 73, 140);
    --services__card--button-color: rgb(255, 254, 254);
    --services__card-treatment--list-item: rgba(93, 120, 177, 0.77);
    --services__card-treatment--text: rgb(92, 120, 177);
    --services__card-treatment--line: rgb(178, 198, 228);
    --services__card-treatment--title: rgb(40, 73, 140);
    --services__card-treatment-bg: rgb(169, 187, 225);
    --services__card-treatment: rgb(220 234 255);
    --services__card-preventive--button-hover: rgb(13, 43, 39);
    --services__card-preventive--line: rgba(27, 79, 73, 0.17);
    --services__card-preventive-bg: rgb(204, 210, 197);
    --services__card-preventive: rgb(225, 227, 222);
    --services__card-restorative--button-hover: rgb(200, 92, 39);
    --services__card-restorative--list-item: rgba(219, 153, 121, 0.82);
    --services__card-restorative--line: rgba(234, 112, 53, 0.25);
    --services__card-restorative-bg: rgb(239, 202, 158);
    --pediatric-dentistry__wrapper--text-subtitle: rgb(168, 179, 175);
    --pediatric-dentistry__wrapper: rgb(224, 227, 221);
    --pediatric-dentistry__card-dental-emergencies--line: rgb(180, 197, 228);
    --pediatric-dentistry__card-oral-examination--content: rgb(225, 227, 222);
    --pediatric-dentistry__card-oral-examination--line: rgb(193 203 198);
    --pediatric-dentistry__card-dental-emergencies--list-item: rgb(88, 137, 194);
    --pediatric-dentistry__card-oral-examination--text: rgb(116, 135, 132);
    --pediatric-dentistry__card-oral-health--content: rgb(249, 236, 215);
    --pediatric-dentistry__card-oral-health--line: rgb(247, 221, 197);
    --pediatric-dentistry__card-oral-health--list-item: rgb(227, 175, 146);
    --pediatric-dentistry__card-first-dental-visit--title: rgb(42, 73, 140);
    --pediatric-dentistry__card-first-dental-visit--list-item: rgb(125, 148, 196);
    --pediatric-dentistry__card-first-dental-visit--button-visit: rgb(234, 112, 54);
    --pediatric-dentistry__card-fluoride-treatment--list-item: rgb(135, 153, 150);
    --pediatric-dentistry__card-nitrous-oxide-sedation--list-item: rgb(226, 173, 144);
    --text-font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-family: "Fredoka", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

/* .container {
    max-width: 719px;
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
} */

h2 {
    font-family: "Fredoka", sans-serif;
    font-size: 34px;
    font-weight: 500;
    color: var(--main-color-second);
    margin-top: 20px;
}

p,
li {
    font-family: var(--text-font-family);
    color: var(--text-color-second);
    line-height: 1.56;
}

@media (min-width: 768px) {
    h2 {
        font-size: 44px;
        margin-top: 30px;
    }
}

a {
    text-decoration: none;
}