@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: var(--background-color);
}

/*img{
    display: block;
    width: 100%;
}*/

.container {
    max-width: 1024px;
}

:root {
    --background-color: #f5f3ef;
    --main-color-first: rgb(234, 112, 53);
    --main-color-second: rgb(27, 79, 73);
    --text-color-first: rgb(119, 140, 137);
    --text-color-second: rgb(95, 118, 115);
    --text-font-family: 'Roboto', sans-serif;
    font-family: "Fredoka", sans-serif;
    scroll-behavior: smooth;
}

h2 {
    font-size: 34px;
    font-family: var(--title-font-family);
    font-weight: 500;
}

@media (min-width: 768px) {
    h2 {
        font-size: 44px;
    }
    
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}