@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Fredoka', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}