.head-part {
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #333;
}

.nav-p {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-right: auto;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}

.phone-number {
    padding: 7px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);
    margin-right: auto;
}

@media (max-width:992px) {
    .phone-number {
        display: flex;
    }
}

.shedule {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-size: 500;
    color: var(--main-color-first);
}

.content {
    display: flex;
    background-color: #f5f3ef;
    width: 100%;
    padding: 7px;
    gap: 100px;
    background-size: cover; 
}

.clinic-info {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);
}

.move-clinic {
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 8px;
}

.line-for-info {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(225, 227, 222);
    height: 80px;
    text-align: right;
    margin-left: auto;
}

.line-for-info li {
    margin-right: 5px;
    padding: 5px 10px;
}

.line-for-info li a {
    color: rgb(95, 118, 115);
}

.line-for-info li a:hover {
    color: var(--main-color-first);
    border-bottom: 2px solid var(--main-color-first);
    line-height: 50%;
    margin-top: 5px;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
}




.logo-and-menu {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin-right: auto;
    flex: 1;
}

.logo-cursor{
    cursor: pointer;
}

.line-and-menu {
    background-color: rgb(225, 227, 222);
    width: 100%;
}
