.head-part {
    margin: 0;
    padding: 0;
}

.nav-p,
.move-clinic {
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-second);
}

.phone-number {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);
}

.menu-btn {
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(27, 79, 73);
    border-radius: 2px;
    transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
}

.menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
}

.menu-btn.active span:nth-of-type(1) {
    display: none;
}

.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}


@media (max-width: 991px) {

    .menu-btn {
        width: 24px;
        height: 24px;
        position: relative;

        overflow: hidden;
        z-index: 15;
        display: block;

        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
    }


    .content-menu {
        display: grid;
        background-color: rgb(225, 227, 222);
        padding: 10px 32px;

    }


}

body.lock {
    overflow: hidden;
}

@media (max-width:992px) {
    .phone-number {
        display: flex;
    }



}

.shedule {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-size: 500;
    color: var(--main-color-first);
}

.header-contacts {
    display: flex;
    background-color: #f5f3ef;
    padding: 10px 15px;
    display: none;
}

.clinic-info {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);
}


.navigation-links {
    list-style: none;
    padding: 0;
    display: grid;
    background-color: rgb(225, 227, 222);
    text-align: center;
}

.navigation-links li {
    margin: 10px 5px;
}

.navigation-links:last-child {
    margin-bottom: 0;
}

.mobile-menu {
    display: none;
    z-index: 10;
}

.mobile-menu.active {
    height: 100%;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}

.desktop-menu {
    display: none;
}

@media (max-height: 465px) {
    body.lock {
        overflow: visible;
    }
} 


.navigation-links li {
    padding: 5px 10px;
}

.navigation-links li a {
    color: rgb(95, 118, 115);
}

.navigation-links li a:hover {
    text-decoration: none;
    text-decoration-skip-ink: none;

    color: var(--main-color-first);
}



.menu {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.logo-cursor {
    cursor: pointer;
    z-index: 20;
    margin-left: 0;
}


.line-and-menu {
    background-color: rgb(225, 227, 222);
    height: auto;
    padding: 30px 32px;
    display: flex;
    flex-direction: row;
}

@media (min-width:992px) {
    body.lock {
        overflow: visible;
    }

    .main-move {
        max-width: 800px;
        margin: 0;
    }

    .text {
        margin-right: 0;
    }

    .mobile-menu,
    .mobile-menu.active {
        display: none;
    }

    .desktop-menu {
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }


    .navigation-links {
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .navigation-links li a:hover::after {

        content: " ";
        display: block;
        height: 2px;
        width: 5%;
        background-color: var(--main-color-first);
        position: absolute;
        margin-top: 5px;
    }

    .navigation-links li:last-child {
        margin-right: 0;
        padding-right: 0;
    }


    .header-contacts {
        display: flex;
        flex-direction: row;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-left: 0;
    }

    .nav-p {
        padding-left: 16px;
        margin-left: 0;
    }

    .move-clinic {
        margin-right: 0;
        padding-right: 32px;
    }


}

@media(min-width:1236px) {
    .nav-p {
    padding-left: 0;
} 

.menu {
    padding-left: 12px;
}
.move-clinic
{padding-right: 0;}
    
}