.head-part {
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: #333;
    min-width: 500px;
    background-size: cover;
}

.nav-p {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}

.phone-number {
    padding: 7px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);

}

@media (max-width:992px) {
    .phone-number {
        display: flex;
    }
}

.shedule {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-size: 500;
    color: var(--main-color-first);
}

.content {
    display: flex;
    background-color: #f5f3ef;
    width: 100%;
    padding: 7px;
}

.clinic-info {
    display: inline-block;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    color: var(--main-color-first);
}

.move-clinic {

    font-family: 'Roboto', sans-serif;
    color: #333;
    padding: 8px;
}

.navigation-links {
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(225, 227, 222);
    height: 80px;
    text-align: right;
    position: fixed;
	top: 0;
	left: 0;
    transform: translateX(-100%);
	transition: transform 0.5s; 
}

.navigation-links.active {
	transform: translateX(0);
}

@media (min-width:992px) {
    .navigation-links{
        display: flex;
        position: relative;
        margin-right: 0;
    }
}

.navigation-links li {
    margin-right: 5px;
    padding: 5px 10px;
}

.navigation-links li a {
    color: rgb(95, 118, 115);
}

.navigation-links li a:hover {
    color: var(--main-color-first);
    border-bottom: 2px solid var(--main-color-first);
    line-height: 50%;
    margin-top: 5px;
    text-underline-offset: 5px;
    text-decoration-skip-ink: none;
}

.logo-and-menu {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex: 1;
}

.logo-cursor {
    cursor: pointer;
}

.line-and-menu {
    background-color: rgb(225, 227, 222);
    width: 100%;
}

.hamburger {
    position: relative;
    display: none;
    width: 30px;
    height: 24px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.bar {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1b4f49;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #1b4f49;
    border-radius: 2px;
    transition: transform 0.3s ease;
}

.bar::before {
    top: -8px;
    left: 0; /*Adjust the value to move the line towards the left */
}

.bar::after {
    bottom: -8px;
    left: 0; /* Adjust the value to move the line towards the left */
}

@media (max-width: 991px) {
    .hamburger {
        display: block;
    }
    .content{
        display: none;
    }
}