@media (min-width: 992px) {
    .testimonials__subtitle {
        font-size: 39px;
    }
    .testimonials__item {
        padding: 34px 28px 34px 28px;
    }
    .testimonials__service {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .testimonials {
        padding-top: 110px;
        padding-bottom: 65px;
    }
    .testimonials__subtitle {
        font-size: 34px;
    }
    .testimonials__item {
        padding: 31px 27px 31px 27px;
    }
}

.testimonials__title {
    color: var(--main-color-first);
    font-size: 12px;
    text-align: center;
    display: block;
    font-family: "Fredoka", sans-serif;
}

.testimonials__subtitle {
    color: var(--main-color-second);
    font-size: 44px;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-family: "Fredoka", sans-serif;
}

.testimonials__description {
    font-family: var(--text-font-family);
    color: var(--text-color-second);
    font-size: 19px;
    margin-top: 25px;
    text-align: center;
    display: block;
}

.testimonials__item {
    border-radius: 30px;
    padding: 40px 30px 40px 30px;
}

.testimonials__item-katy {
    background-color: rgb(221, 234, 255);
}

.testimonials__item-mark {
    background-color: rgb(225, 227, 222);
}

.testimonials__item-lucy {
    background-color: rgb(249, 236, 215);
}

.testimonials__item-jane {
    background-color: rgb(225, 227, 222);
}

.testimonials__item-katy .testimonials__author,
.testimonials__item-katy svg {
    color: #29498c;
}

.testimonials__item-mark .testimonials__author,
.testimonials__item-mark svg {
    color: #1b4f49;
}

.testimonials__item-lucy .testimonials__author,
.testimonials__item-lucy svg {
    color: #ea7035;
}

.testimonials__item-jane .testimonials__author,
.testimonials__item-jane svg {
    color: #1b4f49;
}

.testimonials__item-katy .testimonials__comment,
.testimonials__item-katy .testimonials__service {
    color: rgb(93, 120, 177);
}

.testimonials__item-mark .testimonials__comment,
.testimonials__item-mark .testimonials__service {
    color: rgb(119, 140, 137);
}

.testimonials__item-lucy .testimonials__comment,
.testimonials__item-lucy .testimonials__service {
    color: rgb(219, 153, 121);
}

.testimonials__item-jane .testimonials__comment,
.testimonials__item-jane .testimonials__service {
    color: rgb(119, 140, 137);
}

.testimonials__svg-wrapper {
    display: flex;
    justify-content: left;
    width: 50px;
    height: 50px;
    margin-left: 0px;
}

.testimonials__comment {
    font-family: var(--text-font-family);
    font-style: italic;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    word-break: break-word;
}

.testimonials__author-service {
    display: flex;
    flex-direction: column;
    margin: 7,5px;
}

.testimonials__author {
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    word-break: break-word;
    margin: 0px;
}

.testimonials__service {
    font-family: var(--text-font-family);
    text-align: left;
    font-size: 15px;
    word-break: break-word;
    margin: 0px;
}

.testimonials__image-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.testimonials__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials__item-katy .testimonials__image {
    object-position: 67.777% 38.272%;
}

.testimonials__item-mark .testimonials__image {
    object-position: 33.046% 50%;
}

.testimonials__item-lucy .testimonials__image {
    object-position: 71.526% 33.878%;
}

.testimonials__item-jane .testimonials__image {
    object-position: 44.169% 35.629%;
}

.testimonials__image-author-service-wrapper {
    display: flex;
    align-items: center;
    padding-top: 7,5px;
    padding-bottom: 7,5px;
}

.testimonials__image-container-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}