.booking-form {
   background: url('../img/background-book-visit.jpg');
      background-size: contain;
}

.container {
   border-radius: 34px;
   background-color: white;
   display: grid;
   color: #1b4f49;
   width: 495.4px;
   height: 597.9px;
   padding: 15px 15px 15px 15px;
  
}

.container-title {
   font-size: 32px;
   color: #1b4f49;
}

.container-field-input {
   background-color: #1B4F491F;
   border-color: #1B4F491F;
   border-radius: 34px;
   margin: 12px 0px 0px 0px;
   color: rgba (27, 79, 73, 0.12);
   width: 295.4px;
   height: 40.8px;
   
}


.button-send {
   background-color: rgb(27, 79, 73);
   color: white;
   width: 295.4px;
   height: 40.8px;
   border-radius: 34px;
   margin: 12px 0px 0px 0px;

}

.booking__description {
   background-color: rgb(234, 112, 53);
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-bottom: 0px;
   margin-top: 0px;
   padding: 30px;
   width: 100%;
   text-align: left;
}

.booking__description-best-dental {
   font-size: 32px;
   color: white;
   font-weight: bold;

}

.booking__description-ensure-children {
   font-size: 17px;
   color: #FFFFFF94;
   font-style: italic;
}

.booking__button {
   color: #1b4f49;
   font-size: 14px;
   font-family: Roboto, sans-serif;
   border-radius: 34px;
   background-color: rgb(245, 243, 239);
   padding: 12px 24px;
   width: 145.13px;
   height: 62.63px;
   border-radius: 34px;


}