.benefits {
    margin: 130px 0;
    background-color: #f9ecd7;
    display: block;
}

@media (min-width: 768px) {
    .benefits {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.benefits__image {
    object-fit: cover;
    height: 100%;
}

@media (min-width: 768px) {
    .benefits__image {
        object-position: -400px 0;
    }
}

@media (min-width: 1400px) {
    .benefits__image {
        object-position: -210px 0;
    }
}

@media (min-width: 1600px) {
    .benefits__image {
        object-position: 0;
    }
}

.benefits__content {
    max-width: 570px;
    margin: 0 auto;
    padding: 80px 10px;
}

@media (min-width: 768px) {
    .benefits__content {
        padding: 130px 30px 115px;
    }
}

.benefits__subtitle {
    font-family: var(--text-font-family);
    color: var(--main-color-first);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.benefits__title {
    color: var(--main-color-first);
    margin-top: 20px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color-first);
    margin-bottom: 10px;
}

.benefits__text p {
    font-family: var(--text-font-family);
    font-size: 17px;
    color: #dd9979;
}

p {
    font-family: var(--text-font-family);
    font-size: 17px;
    color: #dd9979;
}

.benefits__text .benefits__text-bold {
    font-size: 19px;
    font-weight: 600;
    margin: 25px 0;
}

.benefits__list-item {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.benefits__list-item-img {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 50%;
    background-color: #ea703536;
}

@media (min-width: 768px) {
    .benefits__list-item-img {
        width: 70px;
        height: 70px;
        padding: 15px 30px;
    }
}

.benefits__list-item-img img {
    position: absolute;
    display: block;
    width: 26px;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .benefits__list-item-img img {
        width: 40px;
    }
}