.about-us {
    margin: 45px auto;
}

@media (min-width: 768px) {
    .about-us {
        margin: 65px auto;
    }
}

.about-us__content-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.about-us__head {
    text-align: center;
}

.about-us__subtitle {
    color: var(--main-color-first);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.about-us__description {
    color: var(--main-color-second);
    margin-top: 25px;
    font-weight: 700;
    font-size: 19px;
}

.about-us__content {
    max-width: 555px;
}

.about-us__content-container {
    margin-top: 50px;
}

.about-us__image {
    border-radius: 30px;
    object-fit: cover;
    object-position: 0% 0%;
    max-width: 100%;
    height: auto;
}

.about-us__text p {
    color: var(--text-color-first);
    margin-bottom: 20px;
}

.about-us__list-row{
    padding-left: 0;
}

.about-us__list-item {
    color: var(--text-color-first);
    list-style: none;
    padding-bottom: 16px;
    padding-left: 30px;
}

.about-us__list-item:last-child {
    padding-bottom: 0;
}

.about-us__list-item::before {
    content: "";
    position: absolute;
    background: url("../img/checkbox.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin-left: -30px;
}