.services {
    min-width: 320px;
    padding-bottom: 45px;
    padding-top: 80px;
    line-height: 26.52px;
    position: relative;
    color: var(--main-color-second);
    z-index: 1;
}
.services-left {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 15px;
}
.services-left__subtitle {
    color: var(--main-color-first);
    font-family: var(--text-font-family);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    text-align: left;
    margin: 0;
    justify-content: flex-start;
}
.services-left__title {
    color: var(--main-color-second);
    line-height: 40.8px;
    font-size: 34px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    justify-content: flex-start;
}
.services-left__content-text--title {
    color: var(--main-color-second);
    line-height: 24.7px;
    font-size: 19px;
    font-family: var( --text-font-family);
    margin-top: 25px;
    font-weight: 500;
    justify-content: flex-start;
    text-align: left;
}
.services-left__content-text--subtitle { 
    color: var(--text-color-first);
    font-size: 17px;
    line-height: 26.52px;
    font-family:  var(--text-font-family);
    font-weight: 400;
    justify-content: flex-start;
    margin-top: 25px;
    text-align: left;
}
.services-left__content-discount {
    justify-content: flex-start;
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.services-left__content-discount--img {
    width: 70px;
    margin: 7.5px;
    display: flex;
    height: 70px;
}
.services-left__content-discount-left {
    margin: 7.5px;
}
.services-left__content-discount-left--title {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: var(--text-font-family);
    color: var(--main-color-second);
}
.services-left__content-discount-left--text {
    font-size: 14px;
    line-height: 22.5px;
    font-weight: 400;
    font-family: var(--text-font-family);
    color: var(--main-color-second);
}
.services__card-restorative {
    background-color: rgb(249, 236, 215);
    max-width: 527px;
    max-height: 480px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.services__card-restorative--img {
    width: 26px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}
.services__card-restorative--title {
    color: rgb(234,112,53);
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    line-height: 30.8px;
}
.services__card-restorative--text {
    color: rgb(219, 153, 121);
    font-family: var( --text-font-family);
    font-size: 17px;
    font-style: italic;
    line-height: 26.52px;
}
.services__card-restorative--list-item {
    color: rgba(219, 153, 121, 0.82);
    font-size: 15px;
    font-family: var(--text-font-family);
    line-height: 22.5px;
}
.services__card-restorative--button {
    background-color: var(--main-color-first);
    color: #fffefe;
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    text-align: center;
    height: 43.3125px;
    width: 119.812px;
}
.services__card-preventive {
    background-color: rgb(225, 227, 222);
    max-width: 527px;
    max-height: 423.141px;
}
.services__card-treatment {
    background-color: rgb(221, 234, 255);
    max-width: 527px;
    max-height: 423.141px;
}
