.features {
    padding: 45px 24px 0 24px;
}
.features-head {
    text-align: center;
}
.features__sub-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.4px;
    color: var(--main-color-first)
}
.features__description {
    font-size: 19px;
    font-weight: 500;
    margin-top: 25px;
    line-height: 24.7px;
}
.features__content {
    margin-top: 45px;
}
.blocks__image-container {
    display: flex;
    margin-left: 0;
    margin-bottom: 22px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(225, 227, 222);
}
.blocks__image-container-grow-up {
    display: flex;
    margin-left: 0;
    margin-bottom: 22px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:var(--testimonials-background-color-katy)
}
.blocks__image-container-smiling-baby {
    display: flex;
    margin-left: 0;
    margin-bottom: 22px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:var(--testimonials-background-color-lucy)
}
.item-icon {
    width: 26px;
}
.item-title {
    font-family: "Fredoka", sans-serif;
    color: var(--main-color-second);
    margin-bottom: 0;
}
.blocks__divider-component {
    position: relative;
}
.blocks__divider-component::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10%;
    height: 3px;
    background-color: var(--main-color-first)
}
.blocks__divider-component-wrapper {
    padding: 18px 0 18px 0;
}
.blocks__description {
    color: var(--text-color-first);
    margin-bottom: 23px;
}
.features-items-container {
    margin-bottom: 63px;
}

.side-block__item {
    border-radius: 15px;
    background-color: var(--testimonials-background-color-katy);
    padding: 31px 31px 31px 31px;
}
.side-bock__title {
    font-family: "Fredoka", sans-serif;
    color: var(--testimonials-svg-color-katy);
}
.side-block__divider-component {
    color: var(--main-color-second);
}
.side-block__availability-list {
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}
.availability__item {
    color: var(--tesimonials-item-text-color-katy);
    margin-bottom: 19px;
}
.side-blocks__note {
    font-size: 14px;
    color: var(--tesimonials-item-text-color-katy-junior);
    margin: 0;

}
.availability__item-doctor {
    font-weight: bold;
}
.features-link {
    text-decoration: underline;
    color: var(--tesimonials-item-text-color-katy-junior);
    font-weight: bold;
}

@media (min-width: 768px) {
    .features__title {
        font-size: 39px;
        margin-top: 20px;
    }
    .features {
        padding: 65px 32px 0 32px;
    }
    .features__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
    }
    .features-items-container {
        margin-bottom: 0;
    }
    .side-block__item {
        border-radius: 30px;
        padding: 65px 29px 34px 29px;
    }
    .blocks__image-container, .blocks__image-container-grow-up, .blocks__image-container-smiling-baby {
        height: 70px;
        width: 70px;
    }
    .item-icon {
        width: 40px;
    }
    .side-blocks__note {
        margin-top: 40px;
    }
}
@media (min-width: 991px) {
    .features__title {
        font-size: 44px;
    }
    .features {
        padding: 67px 40px 0 40px;
    }
    .side-block__availability-list, .side-blocks__note {
        font-size: 15px;
    }
    .side-block__item {
        padding-top: 39px;
    }
}
@media (min-width: 1157px) {
    .side-block__item {
        padding-left: 35px;
        padding-right: 35px;
    }
}
