.pediatric-dentistry {
    min-width: 320px;
}

.pediatric-dentistry__wrapper {
    color: var(--main-color-second);
    font-family: var(--text-font-family);
    flex-basis: 100%;
    background-color: var(--services__card-preventive);
    text-align: center;
    padding: 60px 24px 60px 24px;
    justify-content: center;
}

.pediatric-dentistry__wrapper--title {
    color: var(--main-color-second);
    font-size: 34px;
    font-stretch: 100%;
    font-weight: 500px;
    line-height: 40.8px;
    margin: 0;
    overflow-wrap: break-word;
    text-align: center;
}

.pediatric-dentistry__wrapper--text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px 0 0 0; 
}

.pediatric-dentistry__wrapper--text-subtitle {
    color: var(--pediatric-dentistry__wrapper--text-subtitle);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-weight: 700px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}

.pediatric-dentistry__wrapper--text-title {
    color: var(--text-color-second);
    font-family: var(--text-font-family);
    font-size: 14px;
    font-weight: 700px;
    line-height: 21px;
    text-align: center;
    text-decoration-color: var(--text-color-second);
    text-decoration-line: underline;
    margin: 0;
}

.pediatric-dentistry__text {
    padding: 85px 24px 0 24px;
    color: var(--tesimonials-item-text-color-mark-jane);
    display: flex;
    font-size: 17px;
    font-weight: 400px;
    line-height: 26.52px;
    max-width: 1200px;
}

.pediatric-dentistry__card {
    min-width: 272px;
    margin-right: 20px;
    margin-left: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width:768px)
    { .pediatric-dentistry__card {
        flex-direction: row;               
    }
    }

.pediatric-dentistry__card--img {
    min-width: 272px;
    display: flex;
    flex-direction: column; 
    width: -webkit-fill-available; 
    object-fit: cover;
    width: 100%;
}

.pediatric-dentistry__card--content {
    padding: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pediatric-dentistry__card--title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36.4px;
}

.pediatric-dentistry__card--line {
    height: 3px;
    width: 18.6px;
    text-align: left;
    margin: 0;
}

.pediatric-dentistry__card--text {
    font-family: var(--text-font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 26.52px;
    margin-top: 10px;
}

.pediatric-dentistry__card--item {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    font-family: var(--text-font-family);
}

.pediatric-dentistry__card--buttons {
    display: flex;
    flex-direction: column;
}

@media (min-width:398px)
    { .pediatric-dentistry__card--buttons {
        flex-direction: row;
    }
    }

.pediatric-dentistry__card--button-lm {
    color: var(--services__card--button-color);
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43.3125px;
    width: 119.812px;
    margin: 0;
    border-color: var(--services__card-border-color);
}

.pediatric-dentistry__card--button-visit {
    color: var(--services__card--button-color);
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43.3125px;
    width: 119.812px;
    border-color: var(--services__card-border-color);
    margin: 20px 0 0 0;
}

@media (min-width:398px)
    { .pediatric-dentistry__card--button-visit {
        margin: 0 0 0 20px;
    }
    }

/* .pediatric-dentistry__card-dental-emergencies {
    background-color: var(--services__card-treatment);
} */

.pediatric-dentistry__card-dental-emergencies--content {
    background-color: var(--services__card-treatment);
}

.pediatric-dentistry__card-dental-emergencies--title {
    color: var(--testimonials-svg-color-katy);
}

.pediatric-dentistry__card-dental-emergencies--line {
    background-color: rgb(135, 177, 223);
}

.pediatric-dentistry__card-dental-emergencies--text {
    color: var(--tesimonials-item-text-color-katy);
}

.pediatric-dentistry__card-dental-emergencies--list-item {
    color:  rgb(88, 137, 194);
}

.pediatric-dentistry__card-dental-emergencies--button-lm {
    background-color: var(--services__card-treatment--button-background);
}

.pediatric-dentistry__card-dental-emergencies--button-visit {
    background-color: var(--main-color-first);
}

.pediatric-dentistry__card-oral-examination {
    background-color: rgba(225, 227, 222, 1);
    margin-top: 25px;
}

.pediatric-dentistry__card-oral-examination--title {
    color: var(--main-color-second);
}

.pediatric-dentistry__card-oral-examination--line {
    background-color:rgb(193 203 198);
}

.pediatric-dentistry__card-oral-examination--text {
    color: rgba(116, 135, 132, 1);
}

.pediatric-dentistry__card-oral-examination--list-item {
    color: var(--text-color-first);
}

.pediatric-dentistry__card-oral-examination--button-lm {
    background-color: var(--main-color-second);
}

.pediatric-dentistry__card-oral-examination--button-visit {
    background-color: var(--main-color-first);
}

.pediatric-dentistry__card-oral-health {
    background-color: rgb(249, 236, 215);
    margin-top: 25px;
}

.pediatric-dentistry__card-oral-health--title {
    color: var(--main-color-first);
}

.pediatric-dentistry__card-oral-health--line {
    background-color: rgb(247, 221, 197);
}

.pediatric-dentistry__card-oral-health--text {
    color: var(--tesimonials-item-text-color-lucy);
}

.pediatric-dentistry__card-oral-health--list-item {
    color: rgb(227, 175, 146);
}

.pediatric-dentistry__card-oral-health--button-lm {
    background-color: var(--main-color-first);
}

.pediatric-dentistry__card-oral-health--button-visit {
    background-color: var(--testimonials-svg-color-katy);
}

.pediatric-dentistry__card-first-dental-visit {
    background-color: var(--testimonials-background-color-katy);
    margin-top: 25px;
}

.pediatric-dentistry__card-first-dental-visit--title {
    color: rgb(42, 73, 140);
}

.pediatric-dentistry__card-first-dental-visit--line {
    background-color: rgb(180, 197, 228);
}

.pediatric-dentistry__card-first-dental-visit--text {
    color: var(--tesimonials-item-text-color-katy-junior);
}

.pediatric-dentistry__card-first-dental-visit--list-item {
    color: rgb(125, 148, 196);
}

.pediatric-dentistry__card-first-dental-visit--button-lm {
    background-color: rgb(42, 73, 140);
}

.pediatric-dentistry__card-first-dental-visit--button-visit {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-fluoride-treatment {
    background-color: var(--services__card-preventive);
    margin-top: 25px;
}

.pediatric-dentistry__card-fluoride-treatment--img {
    object-position: left;
}

.pediatric-dentistry__card-fluoride-treatment--title {
    color: var(--main-color-second);
}

.pediatric-dentistry__card-fluoride-treatment--line {
    background-color: rgb(193, 203, 198);
}

.pediatric-dentistry__card-fluoride-treatment--text {
    color: var(--text-color-second);
}

.pediatric-dentistry__card-fluoride-treatment--list-item {
    color: rgb(135, 153, 150);
}

.pediatric-dentistry__card-fluoride-treatment--button-lm {
    background-color: var(--services__card-preventive--button-hover);
}

.pediatric-dentistry__card-fluoride-treatment--button-visit {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-nitrous-oxide-sedation {
    background-color: var(--testimonials-background-color-lucy);
    margin-top: 25px;
}

.pediatric-dentistry__card-nitrous-oxide-sedation--title {
    color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-nitrous-oxide-sedation--line {
    background-color: rgb(247, 221, 197);
}

.pediatric-dentistry__card-nitrous-oxide-sedation--text {
    color: var(--tesimonials-item-text-color-lucy);
}

.pediatric-dentistry__card-nitrous-oxide-sedation--list-item {
    color: rgb(226, 173, 144);
}

.pediatric-dentistry__card-nitrous-oxide-sedation--button-lm {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-nitrous-oxide-sedation--button-visit {
    background-color: rgb(42, 73, 140);
}

.pediatric-dentistry__card-pulpotomy {
    background-color: var(--testimonials-background-color-katy);
    margin-top: 25px;
}

.pediatric-dentistry__card-pulpotomy--title {
    color: rgb(42, 73, 140);
}
.pediatric-dentistry__card-pulpotomy--line {
    background-color: rgb(180, 197, 228);
}

.pediatric-dentistry__card-pulpotomy--text {
    color: var(--tesimonials-item-text-color-katy);
}

.pediatric-dentistry__card-pulpotomy--list-item {
    color: rgb(125, 148, 196);
}

.pediatric-dentistry__card-pulpotomy--button-lm {
    background-color: rgb(42, 73, 140);
}

.pediatric-dentistry__card-pulpotomy--button-visit {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-sports-mouthguards {
    background-color: rgb(225, 227, 222);
    margin-top: 25px;
}

.pediatric-dentistry__card-sports-mouthguards--title {
    color: var(--main-color-second);
}

.pediatric-dentistry__card-sports-mouthguards--line {
    background-color: rgb(193, 203, 198);
}

.pediatric-dentistry__card-sports-mouthguards--text {
    color: var(--text-color-second);
}

.pediatric-dentistry__card-sports-mouthguards--list-item {
    color: var(--text-color-first);
}

.pediatric-dentistry__card-sports-mouthguards--button-lm {
    background-color: var(--main-color-second);
}

.pediatric-dentistry__card-sports-mouthguards--button-visit {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-tooth-extraction {
    background-color: var(--testimonials-background-color-lucy);
    margin-top: 25px;
}

.pediatric-dentistry__card-tooth-extraction--title {
    color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-tooth-extraction--line {
    background-color: rgb(247, 221, 197);
}

.pediatric-dentistry__card-tooth-extraction--text {
    color: var(--tesimonials-item-text-color-lucy);
}

.pediatric-dentistry__card-tooth-extraction--list-item {
    color: rgb(228, 180, 151);
}

.pediatric-dentistry__card-tooth-extraction--button-lm {
    background-color: rgb(234, 112, 54);
}

.pediatric-dentistry__card-tooth-extraction--button-visit {
    background-color: rgb(42, 73, 140);
}