.special-price__main-rbox-star {
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 55%;
    margin-bottom: -35%;
}

.special-price__big-star {
    width: 20%;
    position: absolute;
    margin-left: 60%;
    

}

.special-price_content {
    display: block;
    min-height: 830px;
    padding: 80px 24px 0;
}

@media(min-width: 768px) {
    .special-price_content {
        padding: 60px 32px 0;

    }

    .special-price__big-star {
        display: none;
    }

    .special-price__main-rbox-star {
        display: none;
    }
}

.special-price {
    background-image: url(../img/bckgr-srec-prc-boy.png);
    background-size: cover;
    background-position: right;
}

.special-price__clouds-footer {
    width: auto;
    height: 124px;
    background-image: url(../img/clouds.svg);
    background-size: cover;
    background-position: center;
}

/* -----------------header setting-------------------- */

.special-price__header {
    display: flex;
    align-items: center;
    
}

.special-price__header-logo {
    display: none;
    margin-left: 0px;
}

@media(min-width: 768px) {
    .special-price__header-logo {
        display: flex;
        flex-direction: row;
    }
}

.special-price__header-logo-name {
    color: #FFF;
    font-family: Fredoka;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.8px;
    padding-left: 10px;
}

.special-price__header-logo-star {
    margin-top: 5px;
    width: 25px;
    height: 25px;
}

.special-price__header-link {
    margin-right: 0px;
}

.special-price__header-link-text {
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.52px;
    text-decoration-line: underline;
}

.special-price__header-link-arrow {
    color: #FFF;
}

.special-price__header-link-desctop {
    display: none;
}

@media(min-width: 768px) {
    .special-price__header-link-desctop {
        display: block;
    }

    .special-price__header-link-mobile {
        display: none;
    }

    .special-price__header{
        margin-top: 50px;
    }
}

/* ----------------------main settings------------------------- */



.special-price__main-lbox {
    margin-left: 0;
    
}


@media(max-width: 767px) {
    .special-price__main-lbox {
        z-index: 5;
    }
    

    .special-price__main-text {
        
        margin: auto;
        margin-left: 0;
    }

}



.special-price__main-lbox-header {
    color: #F5F3EF;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.04px;
    letter-spacing: 2.4px;
    margin: 0;

}

.special-price__main-lbox-title {
    color: #FFF;
    font-family: Fredoka;
    font-size: 62px;
    font-style: normal;
    font-weight: 500;
    line-height: 74.4px;
    margin: 20px 0 0 0;
}

.special-price__main-lbox-subtitle {
    color: rgba(245, 243, 239, 0.88);
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 24.7px;
    margin: 40px 0 0 0;
}

.special-price__main-lbox-text {
    color: rgba(245, 243, 239, 0.84);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.52px;
    margin: 25px 0 55px 0;
}

.special-price__main-lbox-button {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 15.4px;
    font-style: normal;
    font-weight: 700;
    line-height: 21.252px;
}

.button-orange {
    background-color: var(--main-color-first);
    padding: 15px 32px;
    border-radius: 34px;
    margin: 0;
}

.button-orange:hover {
    background-color: #be4a0f;
    transition: all 300ms ease;
}



/* --------------------------------rblock------------------------------------- */

.special-price__main-rbox-mobile {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: last baseline;
    justify-content: center;
}

.special-price__main-rbox {
    margin-right: 0;
}


.special-price__main-rbox-text {
    color: rgba(245, 243, 239, 0.84);
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.52px;
    margin: 0%;
}

.special-price__main-rbox-price {
    color: #FFF;
    font-family: Fredoka;
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    margin: 0%;
}

.special-price__main-rbox-descpot {
    display: none;
}

.special-price__footer-mobile {
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    
}

.special-price__footer-desctop {
    display: none;
}

.special-price__main-text {
    margin-left: 0;
}




@media(min-width: 768px) {

    .special-price__main-lbox{
        max-width: 470px;
    }
    .special-price__main-rbox-mobile {
        display: none;
    }

    .special-price__main-rbox-descpot {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 25%;
    }

    .special-price__main-rbox-descpot .star-svg {
        display: none;

    }

    .special-price__footer-mobile {
        display: none;
    }

    .special-price__footer-desctop {
        display: block;
        margin-left: 0;
        margin-top: 100px;
    }

    .special-price__main {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

    }

    

    .special-price__star {
       display: block;
       width: 25px;
       position: absolute;
       margin-top: -100px;
    }
}


/* --------------------footer----------------------------- */

.special-price__footer {

    max-width: 410px;
    padding: 0;

}

.special-price__footer-note {
    color: rgba(245, 243, 239, 0.84);
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 22.5px;
    margin-top: 20px;
}

/* ---------------media-------------------- */