.booking {
  background: url("../img/background-book-visit-new.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 135px;
  padding-bottom: 135px;
   
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
}

.form-field {
  border-radius: 34px;
  background-color: white;
  display: grid;
  grid-column: 2;
  padding: 5% 10% 5% 10%;
  justify-items: stretch;
 
}

.form-title {
  font-size: 32px;
  color: var(--main-color-second);
  margin-bottom: 25px;
  text-align: center;
}

.field-input {
  background-color: #1b4f491f;
  border-color: transparent;
  border-radius: 34px;
  margin: 12px 0px 0px 0px;
  padding: 12px 24px 12px 24px;
  width: 100%;
  color: var(--text-color-first);
  font-size: 14px;
  
}
.field-input:hover  {
  background-color: rgb(221, 234, 255);
  }
 
input:focus, select:focus {
   background-color: #1b4f491f;
   outline: transparent;
 }  

.field-input::placeholder {
  color: var(--text-color-first);
}

.field-input.valid {
   background-color: rgb(220 234 255);
   border-color: transparent;
 }

.button-send {
  background-color: var(--main-color-second);
  color: white;
  border-radius: 34px;
  margin: 56px 0px 0px 0px;
  padding: 12px 24px 12px 24px;
  width: 100%;
}
.field-button-send:hover button {
   background-color: rgb(13, 43, 39);
}

.error-message {
  color: var(--main-color-second);
  border: 2px solid var(--main-color-second);
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

#bookingFormStatus {
  color: var(--main-color-second);
  border: 2px solid var(--main-color-second);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}

.booking__description {
  background-color: var(--main-color-first);
 
 }

 .booking__description-inner {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // padding: 10px 5px 10px 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
 }

@media (max-width: 768px) {
  .booking {
    padding: 35px 10px 35px 10px;
  }
  
  .inner {
display: flex;
flex-wrap: wrap;
  }

  .booking__description-inner {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
  }
}

.booking__description-best-dental {
  font-size: 32px;
  color: white;
}

.booking__description-ensure-children {
  font-size: 17px;
  color: #ffffff94;
  font-style: italic;
  text-align: center;
  justify-content: center;
}

.booking__button {
  color: var(--main-color-second);
  font-size: 14px;
  font-family: Roboto, sans-serif;
  border-radius: 34px;
  background-color: var(--background-color);
  padding: 12px 24px 12px 24px;
  font-weight: bold;
  display: grid;
  place-items: center;
}
.booking__button:hover {
   background-color: white;
}