.mobile {
    display: block;
}

.desctop {
    display: none;
}

@media (min-width: 768px) {

    .mobile {
        display: none;
    }

    .desctop {
        display: block;
    }
}

.main-content {
    margin: 0;
}

.header-main-part__container {
    background-color: #ebecea;
    padding: 40px 180px;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.main-move {
    padding: 0;
}

.welcome,
.offers {
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 700;
    line-height: 20.04px;
    color: var(--main-color-first);
}

.underline {
    color: rgb(95, 118, 115);
    text-decoration: none;
}

.underline:hover {
    color: rgb(95, 118, 115);
    text-decoration: underline;
}

.move-book {
    text-align: center;
    margin-top: 60px;
}

.book {
    color: var(--main-color-first);
    font-weight: 500;
    text-decoration: underline;
    font-family: "Fredoka";
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}

h1 {
    color: var(--main-color-second);
    font-weight: 500;
    font-family: "Fredoka";
    font-size: 48px;
    font-weight: 500;
}

.h1-part {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    color: var(--text-color-first);
    font-family: "Fredoka";
    margin-top: 32px;
    
}

.header-item {
    margin-left: 0;
}



.header-item:last-child {
    margin-left: 60px;
}

.main-mobile-header-img-box {
    margin-top: 50px;
}
.header-item-box-mobile {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding-left: 12px;
    margin-top: 20px;
}

.header-item-img {
    width: 114px;
}

.number {
    font-size: 48px;
    color: var(--main-color-first);
    font-weight: 500;
    font-family: "Fredoka";
    line-height: 57.6px;
}

.header-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.social-description {
    color: var(--testimonials-svg-color-katy);
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 700;
    line-height: 20.04px;
}

.text {
    margin-bottom: 0;
    color: var(--text-color-second);
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-link {
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: var(--text-color-first);
    text-align: right;

}

.social-links a {
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 2.4px;
    font-weight: 700;
    line-height: 20.04px;
    color: var(--text-color-first);
}

.welcome {
    margin: 30px 0;
}

a:hover {
    text-decoration: underline;
}

.main-mobile-header-img {
    width: 100%;
}

@media (min-width: 768px) {
    .main-desctop-header-img {
        width: 675px;
        height: 100%;
    }
}

@media (min-width: 992px) {
    .main-desctop-header-img {
        width: 894px;
        margin-left: 60px;
        
}
}


.header-item-description {
    margin-top: -25px;
}

@media (min-width: 768px) {
    .header-links {
        padding: 0 15px;
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .move-book {
        position: absolute;
        margin-left: 270px;
        margin-top: 30px;
    }

    .header-item-img {
        width: 191px;
    }

    .header-item-box-mobile {
        display: none;
    }

    .header__nav {
        display: flex;
    }

    .header__menu {
        align-items: center;
        flex: 1;
        justify-content: space-around;
    }

    .offers {
        font-size: 12px;
        letter-spacing: 2.4px;
        font-weight: 700;
        line-height: 20.04px;
        color: var(--main-color-first);
        display: flex;
        flex-direction: row;
        margin-right: 0;
    }

    .main-content {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-left: 0;
        padding: 60px 20px 0;
        
    }

    .main-content-text {
        margin-left: 0;
    }

    .header-item-box {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
    }

    .header-item:first-child{
        margin-right: 30px;
    }

    .header-item:last-child{
        margin-right: 30px;
    }

    .social-links {
        margin-left: 0;
    }

    

    .main-move {
        display: flex;
        flex-direction: row;
        padding: 65px 15px 0;
        
    }

    .main-content {
        
    }

    .offers {
        padding: 0;
    }


    .main-link {
        font-style: italic;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: var(--text-color-first);
        display: inline-block;
        margin-right: 0;
    }

    .mobile {
        display: none;
    }

    .text {
        margin-left: 0;
    }

}