.services {
    min-width: 320px;
    padding-bottom: 45px;
    padding-top: 80px;
    line-height: 26.52px;
    color: var(--main-color-second);
    display: flex;
    flex-direction: column;
    position: relative;
  }
  @media (min-width: 992px) 
    { .services {
        flex-direction: row;
      }
    }
  .services-left {
    min-width: 270px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 15px;
  }
  @media (min-width:992px)
    { .services-left {
        width: 270px;
    }
    }
  .services-left__subtitle {
    color: var(--main-color-first);
    font-family: var(--text-font-family);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    letter-spacing: 2.4px;
    line-height: 20.4px;
  }
  .services-left__title {
    color: var(--main-color-second);
    font-size: 34px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    text-align: left;
    margin-top: 20px;
    margin-left: 0;
  }
  .services-left__content-text--title {
    color: var(--main-color-second);
    font-size: 19px;
    font-family: var( --text-font-family);
    margin-top: 25px;
    font-weight: 500;
    text-align: left;
  }
  .services-left__content-text--subtitle { 
    color: var(--text-color-first);
    font-size: 17px;
    font-family:  var(--text-font-family);
    font-weight: 400;
    margin-top: 25px;
    text-align: left;
  }
  .services-left__content-discount {
    justify-content: flex-start;
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  .services-left__content-discount--img {
    width: 70px;
    margin: 7.5px;
    display: flex;
    height: 70px;
  }
  .services-left__content-discount-left {
    margin: 7.5px;
  }
  .services-left__content-discount-left--title {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 700;
    font-family: var(--text-font-family);
    color: var(--main-color-second);
  }
  .services-left__content-discount-left--text {
    font-size: 17px;
    font-weight: 400;
    font-family: var(--text-font-family);
    color: var(--text-color-first);
  }
  .services__cards {
    min-width: 320px;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 765px)
   { .services__cards 
    {flex-direction: row;
    }
    }
  
  .services__card-restorative {
    background-color:var(--testimonials-background-color-lucy);
    width: 242px;
    height: 480.453px;
    margin: 30px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    border-radius: 10px;
  }
  .services__card-restorative-bg {
    background-color: var(--services__card-restorative-bg);
    width: 50px;
    height: 50px;
    margin-left: 35px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
  .services__card-restorative-bg--img {
    width: 26px;
    justify-content: center;
    text-align: left;
  }
  .services__card-restorative--title {
    color: var(--main-color-first);
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-left: 35px;
  }
  .services__card-restorative--text {
    color: var(--tesimonials-item-text-color-lucy);
    font-family: var( --text-font-family);
    font-size: 17px;
    font-style: italic;
    width: 165px;
    margin-left: 35px;
  }
  .services__card-restorative--line {
    background-color: var(--services__card-restorative--line);
    height: 3px;
    width: 27px;
    margin-left: 35px;
  }
  .services__card-restorative--list-item {
    color: var(--services__card-restorative--list-item);
    font-size: 15px;
    font-family: var(--text-font-family);
  }
  .services__card-restorative--button {
    background-color: var(--main-color-first);
    color: var(--services__card--button-color);
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    text-align: center;
    height: 43.3125px;
    width: 119.812px;
    margin-left: 35px;
    border-color: var(--services__card-border-color);
  }
  .services__card-restorative--button:hover {
    background-color: var(--services__card-restorative--button-hover);
  }
  
  .services__card-preventive {
    background-color: var(--services__card-preventive);
    width: 242px;
    height: 480.453px;
    margin: 30px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    border-radius: 10px;
  }
  .services__card-preventive-bg {
    background-color: var(--services__card-preventive-bg);
    width: 50px;
    height: 50px;
    margin-left: 35px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
  .services__card-preventive-bg--img {
    width: 26px;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .services__card-preventive--title {
    color: var(--main-color-second);
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-left: 35px;
  }
  .services__card-preventive--line {
    background-color: var(--services__card-preventive--line);
    height: 3px;
    width: 27px;
    margin-left: 35px;
  }
  .services__card-preventive--text {
    color: var(--text-color-first);
    font-family: var( --text-font-family);
    font-size: 17px;
    font-style: italic;
    width: 180px;
    margin-left: 35px;
    font-weight: 400;
  }
  .services__card-preventive--list-item {
    color: var(--text-color-first);
    font-size: 15px;
    font-family: var(--text-font-family);
  }
  .services__card-preventive--button {
    background-color: var( --main-color-second);
    color: var(--services__card--button-color);
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    text-align: center;
    height: 43.3125px;
    width: 119.812px;
    margin-left: 35px;
    border-color: var(--services__card-border-color);
  }
  .services__card-preventive--button:hover {
    background-color: var(--services__card-preventive--button-hover);
  }
  .services__card-treatment {
    background-color: var(--services__card-treatment);
    width: 242px;
    height: 480.453px;
    margin: 30px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    border-radius: 10px;
  }
  .services__card-treatment-bg {
    background-color: var( --services__card-treatment-bg);
    width: 50px;
    height: 50px;
    margin-left: 35px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
  }
  .services__card-treatment-bg--img {
    width: 26px;
    display: flex;
    justify-content: center;
    text-align: left;
  }
  .services__card-treatment--title {
    color: var(--services__card-treatment--title);
    font-family: "Fredoka", sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-left: 35px;
  }
  .services__card-treatment--line {
    background-color: var(--services__card-treatment--line);
    height: 3px;
    width: 27px;
    margin-left: 35px;
  }
  .services__card-treatment--text {
    color: var(--services__card-treatment--text);
    font-family: var( --text-font-family);
    font-size: 17px;
    font-style: italic;
    width: 180px;
    margin-left: 35px;
    font-weight: 400;
  }
  .services__card-treatment--list-item {
    color: var(--services__card-treatment--list-item);
    font-size: 15px;
    font-family: var(--text-font-family);
  }
  .services__card-treatment--button {
    background-color: var(--services__card-treatment--button-background);
    color: var(--services__card--button-color);
    border-radius: 34px;
    cursor: pointer;
    font-family: var(--text-font-family);
    font-size: 14px;
    text-align: center;
    height: 43.3125px;
    width: 119.812px;
    margin-left: 35px;
    border-color: var(--services__card-border-color);
  }
  .services__card-treatment--button:hover {
    background-color: var(--services__card-treatment--button-hover);
  }
  