.steps {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
    padding: 0 1rem;

}

.steps__cards {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    align-items: center;
}

@media (min-width:768px) {
    .steps__cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

}

@media (min-width:1010px) {
    .steps__cards {
        grid-template-columns: 1fr 1fr 1fr;

    }

}

.steps-title-block {
    text-align: center;
}

.steps__cards__item img {
    width: 100%;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 30px;
}


.steps__subtitle {
    color: var(--main-color-first);
}

.steps__title {
    color: var(--main-color-second);
    margin: 30px 0;
}

.steps__text {
    color: var(--text-color-first);
    margin-bottom: 30px;
}

.steps__cards__item-tittle {
    color: var(--main-color-second);
    margin-top: 20px;
}

.steps__cards__item-text {
    color: var(--text-color-second);
}

.steps-target-link {
    color: var(--text-color-second);
    margin: 30px 0;
    text-align: center;
}

.steps__sertificates-card-item {
    color: var(--text-color-first);
}

.steps__sertificates-card {
    margin: 2rem 0;
}

.steps__sertificates-card-item {
    margin: 1rem 0;
}

@media (min-width:768px) {
    .steps__sertificates {
        display: flex;
        justify-content: space-around;
    }

}