.news-and-articles {
    min-width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
}

.news-and-articles__subtitle {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.news-and-articles__head {
    text-align: center;
    padding: 0 15px;
}

.news-and-articles__subtitle,
.content-block__subtitle {
    color: var(--main-color-first);
}

.news-and-articles__content {
    margin-top: 35px;
}

.news-and-articles__title,
.content-block__subtitle,
.content-block__title,
.content-block__subtitle-block {
    margin-top: 20px;
}

.content-block__subtitle{
font-size: 14px;
font-weight: 700;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-block__subtitle-block{
    font-size: 17px;
    font-weight: 400;
    line-height: 26.52px;
}

.news-and-articles__description {
    margin-top: 25px;
    font-weight: 700;
    font-size: 19px;
}

@media (min-width: 768px) {
    .news-and-articles__container {
        margin: 0 auto;
    }
}

.news-and-articles__content {
    padding: 0 15px;
}

.content-block__image {
    border-radius: 30px;
    object-fit: cover;
    object-position: 0% 0%;
    max-width: 100%;
    height: auto;
}

.content-block__link {
    display: inline-block;
    background-color: rgb(133 147 146 / 25%);
    color: var(--main-color-second);
    border-radius: 34px;
    font-family: var(--text-font-family);
    font-size: 15px;
    align-items: center;
    font-weight: 700;
    padding: 16px 32px;
    margin-top: 35px;
}

.content-block__link_smile{
    display: inline-block;
    background-color: rgb(133 147 146 / 25%);
    color: var(--main-color-second);
    border-radius: 34px;
    font-family: var(--text-font-family);
    font-size: 15px;
    align-items: center;
    font-weight: 700;
    padding: 16px 32px;
    margin-top: 51px;
}

.news-and-articles__content-block {
    padding: 0 15px;
    margin-top: 20px;
}

.content-block__title {
    color: var(--main-color-second);
    font-size: 22px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .news-and-articles__content {
        display: flex;
        flex-direction: row;
    }
}