.testimonials__title {
    color: var(--main-color-first);
    font-size: 12px;
    text-align: center;
    display: block;
    font-family: "Fredoka", sans-serif;
}

.testimonials__subtitle {
    color: var(--main-color-second);
    font-size: 44px;
    text-align: center;
    display: block;
    font-family: "Fredoka", sans-serif;
}

.testimonials__description {
    font-family: var(--text-font-family);
    color: var(--text-color-second);
    font-size: 19px;
    text-align: center;
    display: block;
}

.testimonials__list {
    text-align: center;
}

.testimonials__item {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 15px;
}

.testimonials__item-katy {
    background-color: rgb(221, 234, 255);
}
.testimonials__item-mark {
    background-color :rgb(225, 227, 222);
}
.testimonials__item-lucy {
    background-color :rgb(249, 236, 215);
}
.testimonials__item-jane {
    background-color:rgb(225, 227, 222);
}

.testimonials__item-katy .testimonials__author, .testimonials__item-katy svg {
    color: #29498c;
}
.testimonials__item-mark .testimonials__author, .testimonials__item-mark svg {
    color: #1b4f49;
}
.testimonials__item-lucy .testimonials__author, .testimonials__item-lucy svg {
    color: #ea7035;
}
.testimonials__item-jane .testimonials__author, .testimonials__item-jane svg {
    color: #1b4f49;
}

.testimonials__item-katy .testimonials__comment,.testimonials__item-katy .testimonials__service {
    color: rgb(93,120,177);
}
.testimonials__item-mark .testimonials__comment,.testimonials__item-mark .testimonials__service {
    color: rgb(119,140,137);
}
.testimonials__item-lucy .testimonials__comment,.testimonials__item-lucy .testimonials__service {
    color: rgb(219,153,121);
}
.testimonials__item-jane .testimonials__comment,.testimonials__item-jane .testimonials__service {
    color: rgb(119,140,137);
}



.testimonials__svg-wrapper {
    display: block;
    width: 50px;
    height: 50px;
}

.testimonials__comment {
    font-family: var(--text-font-family);
    font-style: italic;
    position: relative;
    font-size: 17;
}

.testimonials__author-service {
    display: inline-block;
}

.testimonials__author {
    text-align: left;
    font-family: "Fredoka", sans-serif;
}

.testimonials__service {
    font-family: var(--text-font-family);
    text-align: left;
}

.testimonials__image-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.testimonials__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}