.special-price {
    background-image: url(../img/bckgr-srec-prc-boy.png);
    background-size: cover;
    background-position: center;
    min-height: 945.98px;

}

.special-price__lbox {
    max-width: 1024px;
}

.special-price__fbox-name {
    color: #FFF;
    font-family: Fredoka;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.8px;
}

.special-price__fbox {
    max-width: 1024px;
}