@media (min-width: 768px) {

   .booking-form,
   .booking__description,
   .container-field
}

.booking-form {
   background: url('../img/background-book-visit-new.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   display: grid;
   flex-direction: column;
   padding-top: 135px;
   padding-bottom: 135px;
}

.booking-form__container {
   border-radius: 34px;
   background-color: white;
   display: grid;
   grid-template-columns: 1fr;
   padding: 60px 100px 60px 100px;
}

.container-title {
   font-size: 32px;
   color: #1b4f49;
   margin-bottom: 25px;
   text-align: center;
}

.container-field {
   width: 100%;
}
.container-field-input {
   background-color: #1B4F491F;
   border-color: #1B4F491F;
   border-radius: 34px;
   margin: 12px 0px 0px 0px;
   color: rgba (27, 79, 73, 0.12);
   padding: 12px 24px 12px 24px;
   width: 100%;

}

#clinic {
   color: rgba (27, 79, 73, 0.12);
}
.button-send {
   background-color: rgb(27, 79, 73);
   color: white;
   border-radius: 34px;
   margin: 56px 0px 0px 0px;
   padding: 12px 24px 12px 24px;
   width: 100%;
}

.booking__description {
   background-color: rgb(234, 112, 53);
   display: flex;
   flex: 1;
   padding: 10px 15px 10px 15px;
   
}

.booking__description-best-dental {
   font-size: 32px;
   color: white;
   text-align: center;

}

.booking__description-ensure-children {
   font-size: 17px;
   color: #FFFFFF94;
   font-style: italic;
}

.booking__button {
   color: #1b4f49;
   font-size: 14px;
   font-family: Roboto, sans-serif;
   border-radius: 34px;
   background-color: rgb(245, 243, 239);
   padding: 12px 24px 12px 24px;
   font-weight: bold;
   display: grid;
   place-items: center;
}
}