.schedule-visit-container {
  max-width: 1200px;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media (max-width: 768px) {
.schedule-visit-container {
  flex-direction: column;
}
.plan-visit,
.schedule-form-box {
  width: 100%; 
  margin-bottom: 30px; 
}
}

.plan-visit,
.schedule-form-box {
  flex: 1; 
  flex-grow: 1; 
  position: relative;
  box-sizing: border-box; 
}

.plan-visit {
  text-align: left;
}

.visit-title {
  color: var(--main-color-first);
  font-size: 12px;
  font-weight: 500;
}

.visit-warning {
  color: var(--main-color-second);
  font-size: 19px;
  font-weight: 500;
  margin-top: 20px;
}

.visit-plan__list-item {
  color: var(--text-color-first);
  list-style: none;
  padding-bottom: 12px;
  padding-left: 5px;
  font-style: italic;
  font-size: 14px;
}

.visit-plan__list-item:last-child {
  padding-bottom: 0;
}

.visit-plan__list-item::before {
  content: "";
  position: absolute;
  background: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-left: -30px;
}

.schedule-form-inner {
  background-color: var(--services__card-treatment);
  border-radius: 34px;
  width: 100%; 
  height: 100%;
}

@media (max-width: 768px) {
.schedule-form {
  margin: 0; 
  padding-bottom: 20px;
}
.field-input {
  margin: 10px 0; 
}
.field-button-send {
  margin-bottom: 30px;
}
}

.schedule-form {
  margin-right: 30px;
  margin-left: 30px;
}

.field-input {
  background-color: var(--services__card-treatment--line);
  border-color: transparent;
  border-radius: 34px;
  margin: 30px 0px 0px 0px;
  padding: 12px 24px 12px 24px;
  width: 100%;
  color: var(--services__card-treatment--button-hover);
  font-size: 14px;
}

#message {
  padding-bottom: 90px;
}

.field-input:hover  {
  border-color: var(--main-color-second);
}
 
input:focus, select:focus {
   background-color: #1b4f491f;
   outline: transparent;
}  

.field-input::placeholder {
  color: var(--services__card-treatment--button-hover);
}

.field-input.valid {
   background-color: rgb(220 234 255);
   border-color: transparent;
}

.button-send {
  background-color: var(--testimonials-svg-color-katy);
  color: white;
  border-radius: 34px;
  margin: 56px 0px 0px 0px;
  padding: 12px 24px 12px 24px;
  width: 100%;
}

.field-button-send:hover button {
   background-color: var(--services__card-treatment--button-hover);
}

.error-message {
  color: var(--main-color-second);
  border: 2px solid var(--main-color-second);
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

#scheduleFormStatus {
  color: var(--main-color-second);
  border: 2px solid var(--main-color-second);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}