.clinics {
  padding: 60px 0px 10px 0px;
}

@media (max-width: 768px) {
  .clinics {
    padding: 60px 10px 10px 10px;
  }
  .clinic-email-item {
    font-size: 15px;
  }
  .clinics_card-booking {
    width: 100%;
  }
}

.clinics__title {
  color: var(--main-color-first);
  font-size: 12px;
  text-align: center;
  display: block;
  font-family: "Fredoka", sans-serif;
  letter-spacing: 1px;
}

.clinics__subtitle {
  text-align: center;
  display: block;
  margin-top: 20px;
}

.clinics__description {
  font-family: var(--text-font-family);
  color: var(--text-color-second);
  font-size: 19px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 45px;
  text-align: center;
  display: block;
}

.clinics-inner {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 40px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .clinics-inner {
  flex-direction: column;
  }
}

.clinics_card-booking {
  border-radius: 34px;
  background-color: var(--testimonials-background-color-lucy);
  flex: 1;
  padding-bottom: 30px;
}

.clinics_card-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}

.clinic-booking-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clinics_card-title {
  color: var(--main-color-first);
  padding-left: 40px;
  font-size: 24px;
}

.clinics_card-line,
.clinics_card-text {
  color: var(--tesimonials-item-text-color-lucy);
  padding-left: 40px;
  padding-right: 40px;
}

.clinics_card-text {
  padding-bottom: 40px;
}

.clinics_card-button {
  color: var(--services__card--button-color);
  font-size: 14px;
  border-radius: 34px;
  background-color: var(--main-color-first);
  font-weight: bold;
  padding: 12px 24px 12px 24px;
  place-items: center;
  margin-left: 40px;
  
}

.clinics_card-button:hover {
  background-color: var(--main-color-second);
}

.card-clinic {
  flex: 1;
  width: 100%;
}

.map-clinic {
  height: 200px;
  margin-bottom: 30px;
}

.map-clinic-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clinic-title {
  color: var(--main-color-second);
  font-size: 22px;
  font-family: "Fredoka", sans-serif;
}

.clinic-line {
  color: var(--main-color-first);
}

.clinic-schedule-text,
.clinic-phone-number,
.clinic-email-item {
  margin: 0px;
  font-size: 15px;
  text-align: left;
}

.clinic-phone-number-ny,
.clinic-phone-number-la,
.clinic-email-item {
  color: var(--text-color-first);
  text-decoration: none;
}

#la-clinic-phone-number:hover,
#ny-clinic-phone-number:hover,
#ny-clinic-email:hover,
#la-clinic-email:hover {
  text-decoration: underline; 
}

.clinic-email-item {
  font-size: 17px;
}

.clinic-phone,
.clinic-email {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.clinic-phone-container,
.clinic-email-container {
  text-align: left;
  width: 100%;
  margin-left: 10px;
}


/*Icon*/
.shedule-clinic-icon-container {
  width: 25px; 
  height: 25px; 
  display: flex; 
  margin: 0px;
}

.schedule-icon {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/*Big Photo*/

.schedule-photo {
  padding: 60px 30px 60px 30px;
  max-width: 1200px;
  display:flex;
}

@media (max-width: 768px) {
  .schedule-photo {
    padding: 30px 30px 30px 30px;
}
}

.schedule-photo-frame {
  border-radius: 34px;
  width: 100%; 
  border-radius: 34px; 
  overflow: hidden;
}

.schedule-photo-img {
  width: 100%; 
  height: auto; 
  display: block;
}
