.terms-conditions-privacy {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0px 30px 60px 30px;
}

.terms-conditions {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .terms-conditions {
    flex-direction: column;
  }
}

.terms, .privacy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.terms-title,
.privacy-title {
  font-size: 22px;
  padding-bottom: 10px;
  width: 100%;
}

.conditions-list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.conditions-item-1,
.conditions-item-2,
.conditions-item-3,
.conditions-item-4,
.conditions-item-5,
.conditions-item-6 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.text-icon {
  display: flex;
  width: 100%;
  padding: 20px 0px 20px 0px;  
}

.icon-container {
  width: 33px; 
  height: 33px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-shrink: 0;
}

.schedule-icon  {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.conditions-title-item{
  width: 100%;
  margin-bottom: 0px;
  font-family: var(--text-font-family);
  font-size: 19px;
  color: var(--main-color-second);
  font-weight: 500;
}

.conditions-item-1::after,
.conditions-item-2::after,
.conditions-item-3::after,
.conditions-item-4::after,
.conditions-item-5::after,
.conditions-item-6::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--text-color-first);
}

.terms-conditions-warning {
  font-family: var(--text-font-family);
  color: var(--text-color-second);
}









