<footer>
        <div class="footer-row">
            <div class="footer-column footer-left-column">
                <article class="footer-article">
                    <h2 class="h2">Welcome to Sullivan Heights Dental Clinic</h2>
                    <p class="sub-title footer-sub-title">Your child won't be afraid of dentists anymore!</p>
                    <p class="footer-text">At our dental clinic, we take a child-centered approach to ensure that every
                        child receives the best care. Our team of dental professionals understand the unique needs of
                        each
                        patient and provide a non-judgmental and compassionate environment.</p>
                    <span>Don't waste your time! Make an <a href="#contacts" class="footer-article-link">appointment</a>
                        for
                        your kid now</span>
                </article>
            </div>
            <div class="footer-column footer-right-column">
                <div class="New_York">
                    <div class="New_York-img"></div>
                    <div class="footer-right-row-article">
                        <span class="footer-right-row-title">New York</span>
                        <div class="footer-right-row-contacts">
                            <span class="bold footer-right-row-contacts-title">Address:</span><span
                                class="footer-right-row-contacts-description">55 Lexington Ave,
                                NY</span>
                            <span class="bold footer-right-row-contacts-title">Telephone:</span><a href=""
                                class="footer-right-row-contacts-link footer-right-row-contacts-description">+1 (234) 56
                                78
                                90</a>
                            <span class="bold footer-right-row-contacts-title">Email:</span><a href=""
                                class="footer-right-row-contacts-link footer-right-row-contacts-description">sullivan.heights_ny@email.com</a>
                        </div>
                    </div>
                </div>

                <div class="Los_Angeles">
                    <div class="Los_Angeles-img"></div>
                    <div class="footer-right-row-article">
                        <span class="footer-right-row-title">Los Angeles</span>
                        <div class="footer-right-row-contacts">
                            <span class="bold footer-right-row-contacts-title">Address:</span><span
                                class="footer-right-row-contacts-description">100 S Main St, LA</span>
                            <span class="bold footer-right-row-contacts-title">Telephone:</span><a href=""
                                class="footer-right-row-contacts-link footer-right-row-contacts-description">+1 (234) 56
                                78
                                91</a>
                            <span class="bold footer-right-row-contacts-title">Email:</span><a href=""
                                class="footer-right-row-contacts-link footer-right-row-contacts-description">sullivan.heights_la@email.com</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer-separating-line"></div>

        <div class="footer-row">
            <div class="footer-column footer-social">
                <img src="" alt="logo" class="main-logo">
                <p class="footer-social-text">We are a pediatric dentistry clinic in New York and Los Angeles. We serve
                    kids of all ages, from toddlers to teens.</p>
                <div class="footer-social-icons">
                    <div class="social-icon"><a href=""><img src="" alt="twitter" target="_blank"></a></div>
                    <div class="social-icon"><a href="https://www.facebook.com/" target="_blank"><img src=""
                                alt="facebook"></a></div>
                    <div class="social-icon"><a href=""><img src="" alt="instagram" target="_blank"></a></div>
                    <div class="social-icon"><a href=""><img src="" alt="youtube" target="_blank"></a></div>
                </div>
            </div>

            <div class="footer-column footer-column__navigation">
                <span class="footer-column__link-title">Navigation</span>
                <div class="footer-column-separating-line"></div>
                <div class="footer-column__link">
                    <a href="">Services</a>
                    <a href="">About Us</a>
                    <a href="">Certificates</a>
                    <a href="">Benefits</a>
                </div>
            </div>

            <div class="footer-column footer-column__Extras">
                <span class="footer-column__link-title">Extras</span>
                <div class="footer-column-separating-line"></div>
                <div class="footer-column__link">
                    <a href="">Steps</a>
                    <a href="">News & Articles</a>
                    <a href="">Testimonials</a>
                    <a href="">Contact us</a>
                </div>
            </div>

            <div class="footer-column footer-column__Services">
                <span class="footer-column__link-title">Services</span>
                <div class="footer-column-separating-line"></div>
                <div class="footer-column__link">
                    <a href="">Restorative Dentistry</a>
                    <a href="">Preventive Dental Care</a>
                    <a href="">Pediatric Dentistry</a>
                    <a href="">FAQ</a>
                </div>
            </div>

            <div class="footer-column footer-column__Information">
                <span class="footer-column__link-title">Information</span>
                <div class="footer-column-separating-line"></div>
                <div class="footer-column__link">
                    <a href="">Terms & Conditions</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Support</a>
                    <a href="">Documents</a>
                </div>
            </div>




        </div>

        <div class="footer-separating-line"></div>

        <div class="copyright-section">
            <span class="created_by">© Created by</span>
            <span class="all_rights_reserved">All rights Reserved</span>
        </div>
    </footer>
