<body class="head-part">
    <nav class="navigation">
        <div class="header-contacts container">
            <p class="nav-p">
                <span class="phone-number">Phone:</span> +1 (234) 56 78 90 |
                <span class="shedule"> Mon - Thur</span> : 8:00 AM - 6:00 PM
            </p>
            <p class="move-clinic">
                <span class="clinic-info">Clinic</span>
                1: 55 Lexington Ave, NY |
                <span class="shedule">Clinic 2:</span> 100 S Main St, LA
            </p>
        </div>

        <div class="line-and-menu">
            <div class="menu container">
                <div class="logo-cursor">
                   <a href="index.html"> <img src="img/logo-main.svg" alt="logo-main.svg" width="176"></a>
                </div>

                <div class="desktop-menu">
                    <ul class="navigation-links">
                        <li><a href="index.html#Services">Services</a></li>
                        <li><a href="index.html#about-us">About us</a></li>
                        <li><a href="index.html#Certificates">Certificates</a></li>
                        <li><a href="index.html#Testimonials">Testimonials</a></li>
                        <li><a href="schedule.html">Contact us</a></li>
                    </ul>
                </div>

                <div class="mobile-menu container">
                    <ul class="navigation-links">
                        <li><a href="index.html#">Services</a></li>
                        <li><a href="index.html#about-us">About us</a></li>
                        <li><a href="index.html#Certificates">Certificates</a></li>
                        <li><a href="index.html#Testimonials">Testimonials</a></li>
                        <li><a href="schedule.html">Contact us</a></li>
                    </ul>
                    <div class="content-menu container">
                        <p class="nav-p"> <span class="phone-number">
                            Phone: <span class="move-clinic"> +1 (234) 56 78 90 |
                                <span class="shedule"> Mon - Thur</span> : 8:00 AM - 6:00 PM</span></span>
                        </p>
                        <p class="move-clinic">
                            <span class="clinic-info">Clinic</span>
                            1: 55 Lexington Ave, NY |
                            <span class="shedule">Clinic 2:</span> 100 S Main St, LA
                        </p>
                    </div>

                </div>

            </div>
            
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
</body>