<section class="services container">
    <div class="services-left">
        <p class="services-left__subtitle">- Services -</p>
        <h2 class="services-left__title">Services for Kids at Our Clinic</h2>
        <div class="services-left__content">
            <div class="service-lefts__content-text">
                <p class="services-left__content-text--title">We offer a variety of dental services for kids of
                    different ages</p>
                <p class="services-left__content-text--subtitle">Our attentive dentists will make each visit as
                    comfortable as possible for your child.</p>
            </div>
            <div class="services-left__content-discount">
                <img class="services-left__content-discount--img" src="img/discount-icon.png" alt="Illustration">
                <div class="services-left__content-discount-left">
                    <h3 class="services-left__content-discount-left--title">Discount for the First Visit</h3>
                    <p class="services-left__content-discount-left--text">Book your visit and get a 15% discount!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-container">
        <button id="prevBtn" class="carousel-btn__services-prev"><i class="fas fa-chevron-left"></i></button>
        <div class="services__cards-carousel"></div>
    
    <button id="nextBtn" class="carousel-btn__services-next"><i class="fas fa-chevron-right"></i></button>
    </div>
</section>