<section class="special-price">
    <div class="special-price_content container">
        <div class="special-price__header">
            <div class="special-price__header-logo">
                <img class="special-price__header-logo-star star-svg" src="img/star.svg" alt="Orange star">
                <h3 class="special-price__header-logo-name">Special Price</h3>
            </div>
            <div class="special-price__header-link">
                <a href="#" class="special-price__header-link-text">More Special Offers</a>
                <span class="special-price__header-link-arrow">→</span>
            </div>
        </div>
        <div class="special-price__main">
            <div class="special-price__main-lbox">
                <p class="special-price__main-lbox-header">- Offer of the month -</p>
                <h2 class="special-price__main-lbox-title">3D Chin & Tooth Tomography</h2>
                <p class="special-price__main-lbox-subtitle">It allows for very accurate three-dimensional imaging of
                    teeth and surrounding tissue.</p>
                <p class="special-price__main-lbox-text">The main principle of three-dimensional tomography of the chin
                    and teeth is to display the internal structure and perimeter of the object using multi-projection.
                </p>
                <a href="#" class="special-price__main-lbox-button button-orange">Learn more</a>
            </div>
            <div class="special-price__main-rbox">
                <img class="special-price__main-rbox-star star-svg" src="img/star.svg" alt="Orange star">
                <p class="special-price__main-rbox-text price-box">for only</p>
                <h2 class="special-price__main-rbox-price price-box">$89</h2>
            </div>
        </div>
        <div class="special-price__footer">
            <p class="special-price__footer-note">* With 3D tomography, young patients are exposed to less radiation,
                and a treatment plan can be created more properly.</p>
        </div>
    </div>
    <div class="special-price__clouds-footer"></div>
</section>