<section class="news-and-articles container" id="news-and-articles">

    <div class="news-and-articles__container">
        <div class="news-and-articles__head">
            <p class="news-and-articles__subtitle">- News and Articles -</p>
            <h2 class="news-and-articles__title">Medical News and Articles</h2>
            <p class="news-and-articles__description">Read useful articles about kids dentistry and oral health.</p>
        </div>

        <div class="news-and-articles__content">

            <div class="news-and-articles__content-block">
                <img class="content-block__image" src="img/clean.jpeg" alt="clean">
                <p class="content-block__subtitle">Teeth Care | 11.12.2022</p>
                <h3 class="content-block__title">Treatment Options to Keep Kids' Teeth Healthy</h3>
                <p class="content-block__subtitle-block">As children grow, their milk teeth can become damaged and need
                    attention from a dentist or orthodontist in order to stay healthy and strong.</p>
                <a href="#" class="content-block__link" type="obey">Read More</a>
            </div>

            <div class="news-and-articles__content-block">
                <img class="content-block__image" src="img/smile.jpeg" alt="smile">
                <p class="content-block__subtitle">Healthy Habits | 05.05.2023</p>
                <h3 class="content-block__title">Teach Your Children How to Properly Care for their Teeth</h3>
                <p class="content-block__subtitle-block">Teaching kids the importance of oral hygiene, and how to
                    properly care for their teeth, can help them maintain a healthy smile for years to come.</p>
                <a href="#" class="content-block__link_smile" type="obey">Read More</a>
            </div>

        </div>

    </div>
</section>