<section id="benefits" class="benefits">
    <div class="benefits__content">
        <p class="benefits__subtitle">- Benefits-</p>
        <h2 class="benefits__title">
            We Are Passionate About Providing Exceptional Dental Care for Kids
        </h2>
        <div class="benefits__text">
            <p class="benefits__text-bold">Our team of experienced pediatric dentists are committed to creating a positive and comfortable dental experience.</p>
            <p class="benefits__text-regular">At Sullivan Heights Dental Clinic, our doctors understand that every child is different and requires an individual approach. We use the latest dental treatment technologies to provide our patients with the highest quality.</p>
        </div>
        <div class="benefits__list">
            <article class="benefits__list-item">
                <div class="benefits__list-item-img">
                    <img width="40" src="img/medical-report.svg" alt="Medical report">
                </div>
                <div class="benefits__list-item-content">
                    <h3 class="benefits__list-item-title">Early Detection of Oral Health Issues</h3>
                    <p class="benefits__list-item-text">Regular visits to a pediatric dental clinic can help to identify any potential oral health issues in a child at an early stage.</p>
                </div>
            </article>
            <article class="benefits__list-item">
                <div class="benefits__list-item-img">
                    <img width="40" src="img/dental-checkup.svg" alt="Dental Checkup">
                </div>
                <div class="benefits__list-item-text">
                    <h3>Healthy Smile Development</h3>
                    <p>Children receive instruction on how to care for their teeth and create healthy habits that will stay with them into adulthood.</p>
                </div>
            </article>
        </div>
    </div>
    <img width="100%" src="img/benefits.jpg" alt="Dental doctor">
</section>