<section class="special-price">
    <div class="special-price__lbox">
        <p class="special-price__lbox-header">- Offer of the month -</p>
        <h2 class="special-price__lbox-head">3D Chin & Tooth Tomography</h2>
        <p class="special-price__lbox-subtitle"><b>It allows for very accurate three-dimensional imaging of teeth
                and surrounding tissue.</b></p>
        <p class="special-price__lbox-text">The main principle of three-dimensional tomography of the chin and teeth
            is to display the internal structure and perimeter of the object using multi-projection.</p>
        <a href="#" class="special-price__lbox-button">Learn more</a>
    </div>
    <div class="special-price__fbox">
        <h3 class="special-price__fbox-name">Special Price</h3>
        <div class="special-price__fbox-star-top">
            <img src="img/star.svg" alt="Orange star" width="25">
        </div>
        <div class="special-price__fbox-star-middle">
            <img src="img/star.svg" alt="Orange star" width="25">
        </div>
        <p class="special-price__fbox-description">* With 3D tomography, young patients are exposed to less
            radiation, and a treatment plan can be created more properly.</p>
        <div class="special-price__fbox-link">
            <a href="#" class="special-price__fbox-link-text">More Special Offers</a>
            <span class="special-price__fbox-link-arrow">→</span>
        </div>
        <div class="special-price__fbox-discount">
            <p class="special-price__fbox-discount-description">for only</p>
            <h2 class="special-price__fbox-discount-price">$89</h2>
        </div>
    </div>

</section>