<section class="header-main-part">
    <div class="header-main-part__container">
        <div class="main-move main-start">
            <p class="left-paragraph">
                <span class="text">Healthy smiles start here,</span><br>
                <span class="text">building bright futures.</span>
            </p>
            <a href="#">Special Offers → </a>
        </div>
        <div class="move-book">
            <img src="img/star.svg" alt="star" width="25">
            <a href="#" class="book">Book a Visit</a><br>
        </div>
        <div class="h1-part">
            <h3 class="welcome">- Welcome -</h3>
            <h1><span>Making Dentist</span><br><span>Kids Visits Fun</span><br><span>and Friendly</span></h1>
        </div>
        <div>
            <p class="h1-part"><span>Your kid won't be afraid of dentists! Our clinic will be</span><br> on guard for
                your child's beautiful smile.</p>
        </div>

        <div class="img-box">
            <img class="main-header-img" src="../img/header mobile main img.svg" alt="smilling girl">
        </div>

        <div>
            <a href="#">Social: Facebook Instagram Youtube</a>
            
            <a href="#">Read happy stories of kids at Sullivan Heights Dental →</a>
        </div>

        <div class="header-item-box">
            <div class="header-item">
                <img src="../img/happy-girl.png" alt="happy girl" class="header-item-img">
                <p  class="header-item-description"><span class="number">01</span>
                    Regular Visits </p>
            </div>
            <div class="header-item">
                <img src="../img/throat.png" alt="smile" class="header-item-img">
                <p class="header-item-description"> <span class="number">02</span>
                    Dental Care </p>
            </div>

        </div>
    </div>
</section>