<section>
    <div class="main-part">
        <div class="main-start">
            <p>Healthy smiles start here, building bright futures.</p>
            <p>Read happy stories of kids at Sullivan Heights Dental →</p>
        </div>
        <p>Book a Visit</p>
        <h32>Welcome</h3>
        <h1>Making Dentist Kids Visits Fun and Friendly</h1>
        <p>Your kid won't be afraid of dentists! Our clinic will be on guard for your child's beautiful smile.</p>
        <img src="img/teeth.svg" alt="teeth" width="66">
        <img src="img/girl-with-teeth.png" alt="girl-with-teeth" width="350" height="240">
        <img src="img/teeth-defender.svg" alt="teeth-defender" width="50">
        <img src="img/teeth-doctor.svg" alt="teeth-doctor" width="56">
        <img src="img/throat.png" alt="throat" width="114" height="71">
        <img src="img/happy-girl.png" alt="happy-girl" width="114" height="71">
        <a href="#">Social: Facebook Instagram Youtube</a>
        <a href="#">Special Offers →</a>
    </div>
</section>