<section class="testimonials">
    <p class="testimonials__title">- Testimonials -</p>
    <p class="testimonials__subtitle">Read Stories of Our Clients</p>
    <p class="testimonials__description">Parents and their kids always leave our clinic fully satisfied.</p>
    <div class="testimonials__list">
        <div class="testimonials__item testimonials__item-katy">
            <div class="testimonials__svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g fill="currentColor">
                        <path
                            d="M48.87,42.353c0-11.276-9.14-20.417-20.417-20.417c-11.277,0-19.462,8.826-20.417,20.062   c-1.458,17.145,11.567,31.5,27.38,36.067c-5.39-3.259-9.15-8.927-9.777-15.519c0.923,0.131,1.857,0.224,2.814,0.224   C39.73,62.77,48.87,53.63,48.87,42.353z"
                            fill="currentColor"></path>
                        <path
                            d="M92,42.353c0-11.276-9.14-20.417-20.418-20.417c-11.276,0-19.462,8.826-20.418,20.062   c-1.458,17.145,11.567,31.5,27.381,36.067c-5.39-3.259-9.149-8.927-9.777-15.519c0.923,0.131,1.858,0.224,2.814,0.224   C82.86,62.77,92,53.63,92,42.353z"
                            fill="currentColor"></path>
                    </g>
                </svg>
            </div>
            <p class="testimonials__comment">"The hygienist was patient and gentle, making sure Katy was comfortable
                throughout the procedure. I was impressed with their attention to detail and how they made oral hygiene
                education fun for kids."</p>
            <div class="testimonials__image-author-service-wrapper">
                <div class="testimonials__image-container">
                    <img class="testimonials__image" src="img/katy.jpg" alt="Katy photo">
                </div>
                <div class="testimonials__author-service">
                    <p class="testimonials__author">Katy's Mom</p>
                    <p class="testimonials__service">Dental Cleaning Service</p>
                </div>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-mark">
            <div class="testimonials__svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g fill="currentColor">
                        <path
                            d="M48.87,42.353c0-11.276-9.14-20.417-20.417-20.417c-11.277,0-19.462,8.826-20.417,20.062   c-1.458,17.145,11.567,31.5,27.38,36.067c-5.39-3.259-9.15-8.927-9.777-15.519c0.923,0.131,1.857,0.224,2.814,0.224   C39.73,62.77,48.87,53.63,48.87,42.353z"
                            fill="currentColor"></path>
                        <path
                            d="M92,42.353c0-11.276-9.14-20.417-20.418-20.417c-11.276,0-19.462,8.826-20.418,20.062   c-1.458,17.145,11.567,31.5,27.381,36.067c-5.39-3.259-9.149-8.927-9.777-15.519c0.923,0.131,1.858,0.224,2.814,0.224   C82.86,62.77,92,53.63,92,42.353z"
                            fill="currentColor"></path>
                    </g>
                </svg>
            </div>
            <p class="testimonials__comment">"I recently took my son to this dental clinic for his first dental checkup,
                and I'm glad I did! The staff were friendly and gentle, and my son was relaxed throughout the whole
                visit. The clinic was very clean and well-maintained."</p>
            <div class="testimonials__image-author-service-wrapper">
                <div class="testimonials__image-container">
                    <img class="testimonials__image" src="img/mark.jpg" alt="Mark photo">
                </div>
                <div class="testimonials__author-service">
                    <p class="testimonials__author">Mark's Mom</p>
                    <p class="testimonials__service">Regular Checkup</p>
                </div>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-lucy">
            <div class="testimonials__svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g fill="currentColor">
                        <path
                            d="M48.87,42.353c0-11.276-9.14-20.417-20.417-20.417c-11.277,0-19.462,8.826-20.417,20.062   c-1.458,17.145,11.567,31.5,27.38,36.067c-5.39-3.259-9.15-8.927-9.777-15.519c0.923,0.131,1.857,0.224,2.814,0.224   C39.73,62.77,48.87,53.63,48.87,42.353z"
                            fill="currentColor"></path>
                        <path
                            d="M92,42.353c0-11.276-9.14-20.417-20.418-20.417c-11.276,0-19.462,8.826-20.418,20.062   c-1.458,17.145,11.567,31.5,27.381,36.067c-5.39-3.259-9.149-8.927-9.777-15.519c0.923,0.131,1.858,0.224,2.814,0.224   C82.86,62.77,92,53.63,92,42.353z"
                            fill="currentColor"></path>
                    </g>
                </svg>
            </div>
            <p class="testimonials__comment">"My daughter Lucy recently had a tooth extraction at Sullivan Heights
                Dental Clinic and the experience was excellent! The dentist was very friendly and comforting during the
                procedure. My kid didn't feel any pain at all."</p>
            <div class="testimonials__image-author-service-wrapper">
                <div class="testimonials__image-container">
                    <img class="testimonials__image" src="img/lucy.jpg" alt="Lucy photo">
                </div>
                <div class="testimonials__author-service">
                    <p class="testimonials__author">Lucy's Mom</p>
                    <p class="testimonials__service">Tooth Extraction</p>
                </div>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-jane">
            <div class="testimonials__svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px"
                    y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"
                    style="max-width:100%" height="100%">
                    <g fill="currentColor">
                        <path
                            d="M48.87,42.353c0-11.276-9.14-20.417-20.417-20.417c-11.277,0-19.462,8.826-20.417,20.062   c-1.458,17.145,11.567,31.5,27.38,36.067c-5.39-3.259-9.15-8.927-9.777-15.519c0.923,0.131,1.857,0.224,2.814,0.224   C39.73,62.77,48.87,53.63,48.87,42.353z"
                            fill="currentColor"></path>
                        <path
                            d="M92,42.353c0-11.276-9.14-20.417-20.418-20.417c-11.276,0-19.462,8.826-20.418,20.062   c-1.458,17.145,11.567,31.5,27.381,36.067c-5.39-3.259-9.149-8.927-9.777-15.519c0.923,0.131,1.858,0.224,2.814,0.224   C82.86,62.77,92,53.63,92,42.353z"
                            fill="currentColor"></path>
                    </g>
                </svg>
            </div>
            <p class="testimonials__comment">"The dental hygienist explained each procedure my girl was going through.
                She even got a toy at the end because she did so well. I highly recommend this dental clinic as a fun
                and comfortable place to bring your kids."</p>
            <div class="testimonials__image-author-service-wrapper">
                <div class="testimonials__image-container">
                    <img class="testimonials__image" src="img/jane.jpg" alt="Jane photo">
                </div>
                <div class="testimonials__author-service">
                    <p class="testimonials__author">Jane's Mom</p>
                    <p class="testimonials__service">Regular Checkup</p>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials__list-buttons">
        <button class="testimonials__button testimonials__button--prev" type="button"><</button>
        <button class="testimonials__button testimonials__button--next" type="button">></button>
    </div>
</section>