<section class="news-and-articles container" id="news-and-articles">

    <div class="news-and-articles__container">
        <div class="news-and-articles__head">
            <p class="news-and-articles__subtitle">- News and Articles -</p>
            <h2 class="news-and-articles__title">Medical News and Articles</h2>
            <p class="news-and-articles__description">Read useful articles about kids dentistry and oral health.</p>
        </div>

        <div class="news-and-articles__content"></div> 

    </div>
</section>