<section class="features">
    <p class="features__small-title"> - Features - </p>
    <h2 class="features__title">Key Features of Sullivan Heights Dental</h2>
    <p class="features__subtitle">At Sullivan Heights Dental, we prioritize the dental health and well-being of your
        child.</p>
    <div class="features__blocks blocks">
        <section class="blocks__item">
            <div class="blocks__image-container">
                <img class="blocks__image" width="40" src="img/friendly-tooth.svg" alt="Friendly tooth cartoon">
            </div>
            <h3 class="blocks__header">Child-Centered Approach</h3>
            <div class="blocks__divider-component-wrapper">
                <div class="blocks__divider-component"></div>
            </div>
            <p class="blocks__description">We create a positive, safe, and caring environment in which children feel
                welcomed.</p>
        </section>

        <section class="blocks__item">
            <div class="blocks__image-container">
                <img class="blocks__image" width="40" src="img/grow-up-with-us.svg"
                    alt="grow up from child to teenth with us">
            </div>
            <h3 class="blocks__header">From Toddlers to Teens</h3>
            <div class="blocks__divider-component-wrapper">
                <div class="blocks__divider-component"></div>
            </div>
            <p class="blocks__description">Our dentist can be your child's primary dentist from an early age to
                adulthood.</p>
        </section>

        <section class="blocks__item">
            <div class="blocks__image-container">
                <img class="blocks__image" width="40" src="img/smiling-baby.svg" alt="baby that smiles">
            </div>
            <h3 class="blocks__header">Preventive Care Emphasis</h3>
            <div class="blocks__divider-component-wrapper">
                <div class="blocks__divider-component"></div>
            </div>
            <p class="blocks__description">We promote oral health awareness and proper dental hygiene to keep kids
                cavity-free.</p>
        </section>

        <section class="blocks__item">
            <div class="blocks__image-container">
                <img class="blocks__image" width="40" src="img/tooth-location.svg" alt="Modern tooth location">

            </div>
            <h3 class="blocks__header">Cutting-Edge Technology</h3>
            <div class="blocks__divider-component-wrapper">
                <div class="blocks__divider-component"></div>
            </div>
            <p class="blocks__description">We use the latest techniques and equipment, such as digital radiography and
                laser dentistry.</p>
        </section>

        <article class="side-block__item">
            <h3 class="side-bock__header">Times & Availability</h3>
            <div class="side-block__divider-component-wrapper">
                <div class="side-block__divider-component"></div>
            </div>
            <ul class="side-block__availability-list availability">
                <li class="availability__item">Dr. Emma Smith | <em>Mon - Tue 01-03 pm</em></li>
                <li class="availability__item">Dr. Eliza Brown | <em>Tue - Thur 09-11 am</em></li>
                <li class="availability__item">Dr. Emma Smith | <em>Fri - Sat 02-05 pm</em></li>
                <li class="availability__item">Dr. John Foster | <em>Mon - Wed 09-11 am</em></li>
            </ul>
            <p class="side-blocks__note"><em>* We ask our clients to make an appointment with the dentist in advance.<a
                        href="#"> Write</a> to us or give us a call.</em></p>
        </article>
    </div>
</section>