<section class="booking">
  <div class="booking__container">
    <h2 class="booking__container-title">Book a Visit Now!</h2>
    <div class="booking__container-form">
      <form action="https://formspree.io/f/mbjvjloy" method="post" class="booking__container-form">
        <label for="name" class="booking__container-label">Enter your full name</label>
        <input type="text" id="name" name="name" placeholder="Enter your full name*" class="booking__container-input">
        <label for="phone" class="booking__container-label">Enter your phone number</label>
        <input type="tel" id="phone" name="phone" pattern="[0-9]{12}" placeholder="Enter your phone number*" required
          class="booking__container-input">
        <small class="booking__small">Enter 12 digits without spaces or hyphens</small>
        <label for="dentist" class="booking__container-label">Choose your dentist:</label>
        <select id="dentist" name="dentist" class="booking__container-input">
          <option value="" disabled selected>Choose your dentist</option>
          <option value="emma-smith">Emma Smith</option>
          <option value="eliza-brown">Eliza Brown</option>
          <option value="john-foster">John Foster</option>
        </select>
        <label for="clinic" class="booking__container-label">Select the clinic:</label>
        <select id="clinic" name="clinic" class="booking__container-input">
          <option value="" disabled selected>Select the clinic</option>
          <option value="ny">55 Lexington Ave, NY</option>
          <option value="la">100 S Main St, LA</option>
        </select>
        <label for="message" class="booking__container-label">Leave your message here</label>
        <textarea id="message" name="message" placeholder="Leave your message here"
          class="booking__conteiner-textarea"></textarea>
        <input type="submit" value="Send" class="booking__container-submit-button">
      </form>
    </div>
  </div>
  <div class="booking__image">
    <img src="img/background-book-visit.jpg" alt="Background to book visit" class="booking__image">
  </div>
  <div class="booking__description">
    <p class="booking__subtitle">Best Dental Services For Kids</p>
    <p class="booking__subtitle">Ensure your children's oral health!</p>
    <a href="#" class="booking__button">Shedule a Visit</a>
  </div>
</section>