<section id="about-us" class="about-us container">
    <div class="about-us__head">
        <p class="about-us__subtitle">- About Us -</p>
        <h2 class="about-us__title">
            Providing Exceptional Dental Care for Kids
        </h2>
        <div class="about-us__description">
            <p>Our team of experienced pediatric dentists are committed to creating a positive and comfortable dental
                experience.</p>
        </div>
    </div>
    <div class="about-us__content-container">
        <img width="555" height="390" src="img/about-us.jpg" alt="Doctor and child" class="about-us__image">
        <div class="about-us__content">
            <div class="about-us__text">
                <p>At Sullivan Heights Dental, it is our goal to provide specialized pediatric dentistry in a fun,
                    child-friendly environment, teaching each child how to overcome their fears and creating not only a
                    happy smile, but a happy patient that will enjoy visiting the dentist for a lifetime.</p>

                <p>We believe that building a strong foundation of oral health habits starts early. That's why we focus
                    on
                    delivering personalized, compassionate care that addresses the unique dental needs of children.</p>
            </div>
            <div class="about-us__list">
                <ul class="about-us__list-row">
                    <li class="about-us__list-item">Same-day service for emergency treatments and pain relief.</li>
                    <li class="about-us__list-item">Parent education about healthy habits and at-home dental care.</li>
                    <li class="about-us__list-item">Special activities tailored to keep children relaxed during the
                        visit.</li>
                    <li class="about-us__list-item">A complete analysis of your child’s dental health.</li>
                </ul>
            </div>
        </div>
    </div>
</section>