<section>
    <p> - Features - </p>
    <h2>Key Features of Sullivan Heights Dental</h2>
    <p>At Sullivan Heights Dental, we prioritize the dental health and well-being of your child.</p>
    <div>
        <section>
            <div>
                <img width="40" src="img/friendly-tooth.svg" alt="Friendly tooth cartoon">
            </div>
            <h3>Child-Centered Approach</h3>
            <div class="divider-component-wrapper">
                <div class="divider-component"></div>
            </div>
            <p>We create a positive, safe, and caring environment in which children feel welcomed.</p>
        </section>

        <section>
            <div>
                <img width="40" src="img/grow-up-with-us.svg" alt="grow up from child to teenth with us">
            </div>
            <h3>From Toddlers to Teens</h3>
            <div class="divider-component-wrapper">
                <div class="divider-component"></div>
            </div>
            <p>Our dentist can be your child's primary dentist from an early age to adulthood.</p>
        </section>

        <section>
            <div>
                <img width="40" src="img/smiling-baby.svg" alt="baby that smiles">
            </div>
            <h3>Preventive Care Emphasis</h3>
            <div class="divider-component-wrapper">
                <div class="divider-component"></div>
            </div>
            <p>We promote oral health awareness and proper dental hygiene to keep kids cavity-free.</p>
        </section>

        <section>
            <div>
                <img width="40" src="img/tooth-location.svg" alt="Modern tooth location">
            
            </div>
            <h3>Cutting-Edge Technology</h3>
            <div class="divider-component-wrapper">
                <div class="divider-component"></div>
            </div>
            <p>We use the latest techniques and equipment, such as digital radiography and laser dentistry.</p>
        </section>
    </div>
</section>