<section class="testimonials">
    <p class="testimonials__title">- Testimonials -</p>
    <p class="testimonials__subtitle">Read Stories of Our Clients</p>
    <p class="testimonials__description">Parents and their kids always leave our clinic fully satisfied.</p>
    <div class="testimonials__list">
        <div class="testimonials__item testimonials__item-katy">
            <p class="testimonials__comment">"The hygienist was patient and gentle, making sure Katy was comfortable throughout the procedure. I was impressed with their attention to detail and how they made oral hygiene education fun for kids."</p>
            <div class="testimonials__image-container">
                <img class="testimonials__image" src="img/katy.jpg" alt="Katy photo" width="70">
            </div>
            <div class="testimonials__author-service">
                <p class="testimonials__author">Katy's Mom</p>
                <p class="testimonials__service">Dental Cleaning Service</p>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-mark">
            <p class="testimonials__comment">"I recently took my son to this dental clinic for his first dental checkup, and I'm glad I did! The staff were friendly and gentle, and my son was relaxed throughout the whole visit. The clinic was very clean and well-maintained."</p>
            <div class="testimonials__image-container">
                <img class="testimonials__image" src="img/mark.jpg" alt="Mark photo" width="70">
            </div>
            <div class="testimonials__author-service">
                <p class="testimonials__author">Mark's Mom</p>
                <p class="testimonials__service">Regular Checkup</p>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-lucy">
            <p class="testimonials__comment">"My daughter Lucy recently had a tooth extraction at Sullivan Heights Dental Clinic and the experience was excellent! The dentist was very friendly and comforting during the procedure. My kid didn't feel any pain at all."</p>
            <div class="testimonials__image-container">
                <img class="testimonials__image" src="img/lucy.jpg" alt="Lucy photo" width="70">
            </div>
            <div class="testimonials__author-service">
                <p class="testimonials__author">Lucy's Mom</p>
                <p class="testimonials__service">Tooth Extraction</p>
            </div>
        </div>
        <div class="testimonials__item testimonials__item-jane">
            <p class="testimonials__comment">"The dental hygienist explained each procedure my girl was going through. She even got a toy at the end because she did so well. I highly recommend this dental clinic as a fun and comfortable place to bring your kids."</p>
            <div class="testimonials__image-container">
                <img class="testimonials__image" src="img/jane.jpg" alt="Jane photo" width="70">
            </div>
            <div class="testimonials__author-service">
                <p class="testimonials__author">Jane's Mom</p>
                <p class="testimonials__service">Regular Checkup</p>
            </div>
        </div>
        <button class="testimonials__button testimonials__button--prev" type="button"><</button>
        <button class="testimonials__button testimonials__button--next" type="button">></button>
    </div>
</section>