<section class="services">
    <div class="services-left">
        <p class="services-left__subtitle">- Services -</p>
        <h2 class="services-left__title">Services for Kids at Our Clinic</h2>
        <div class="services-left__content">
            <div class="service-lefts__content-text">
                <p class="services-left__content-text--title">We offer a variety of dental services for kids of different ages</p>
                <p class="services-left__content-text--subtitle">Our attentive dentists will make each visit as comfortable as possible for your child.</p>
            </div>
            <div class="services-left__content-discount">
                <img class="services-left__content-discount--img" src="img/discount-icon.png" alt="Illustration">
                <div class="services-left__content-discount-left">
                    <h3 class="services-left__content-discount-left--title">Discount for the First Visit</h3>
                    <p class="services-left__content-discount-left--text">Book your visit and get a 15% discount!</p>
                </div>
            </div>
        </div>
    </div>
        <div class="services__cards">
            <div class="services__card-restorative">
                <img class="services__card-restorative--img" src="img/tooth-crown.svg" alt="Tooth-crown">
                <h3 class="services__card-restorative--title">Restorative Dentistry</h3>
                <p class="services__card-restorative--text">We improve the health and aesthetics of your child's smile.</p>
                <ul class="services__card-restorative--list">
                    <li class="services__card-restorative--list-item">Dental crowns;</li>
                    <li class="services__card-restorative--list-item">Dental fillings;</li>
                    <li class="services__card-restorative--list-item">Dental sealants;</li>
                    <li class="services__card-restorative--list-item">Performing root canals.</li>
                </ul>
                <button class="services__card-restorative--button" type="submit">Learn More</button>
            </div>
            <div class="services__card-preventive">
                <img width="26" src="img/tooth-washing.svg" alt="Tooth-washing">
                <h3 class="services__card-preventive--title">Preventive Dental Care</h3>
                <p class="services__card-preventive--text">It is essential for ensuring that kids' teeth are in proper condition.</p>
                <ul class="services__card-preventive--list">
                    <li class="services__card-preventive--list-item">Dental cleanings;</li>
                    <li class="services__card-preventive--list-item">Dental sealants;</li>
                    <li class="services__card-preventive--list-item">Fluoride treatments;</li>
                    <li class="services__card-preventive--list-item">Regular checkups.</li>
                </ul>
                <button class="services__card-preventive--button" type="submit">Learn More</button>
            </div>
            <div class="services__card-treatment">
                <img width="26" src="img/tooth-plus.svg" alt="Tooth-plus">
                <h3 class="services__card-treatment--title">Dental Treatment</h3>
                <p class="services__card-treatment--text">Our pediatric dentists will carefully treat your child's teeth if necessary...</p>
                <ul class="services__card-treatment--list">
                    <li class="services__card-treatment--list-item">Dental emergencies;</li>
                    <li class="services__card-treatment--list-item">Tooth extraction;</li>
                    <li class="services__card-treatment--list-item">Urgent dental treatments;</li>
                    <li class="services__card-treatment--list-item">Orthodontic treatments.</li>
                </ul>
                <button class="services__card-treatment--button" type="submit">Learn More</button>
            </div>
        </div>
</section>