<section class="header-main-part">
    <div class="header-main-part__container">
        <div class="main-move container">
            <p class="text">Healthy smiles start here,<br>building bright futures.</p>
            <a href="#" class="mobile offers">Special Offers → </a>
            <div class="move-book desctop">
                <img src="img/star.svg" alt="star" width="25">
                <a href="#" class="book">Book a Visit</a><br>
            </div>
            <img src="img/header-arrow.svg" alt="arrow" class="header-arrow">
            <a href="#" class="main-link desctop">Read happy stories of kids at<br> Sullivan Heights Dental →</a>
        </div>

        <div class="main-content container">
            <div class="main-content-text">
                <div class="h1-part">
                    <h3 class="welcome">- Welcome -</h3>
                    <h1><span>Making Dentist</span><br><span>Kids Visits Fun</span><br><span>and Friendly</span></h1>
                </div>

                <div>
                    <p class="h1-part">Your kid won't be afraid of dentists! Our clinic will be on guard for your child's beautiful smile.</p>
                </div>
                <div class="header-item-box desctop">
                    <div class="header-item">
                        <img src="img/happy-girl.png" alt="happy girl" class="header-item-img">
                        <p class="header-item-description"><span class="number">01</span>
                            Dental Care</p>
                    </div>
                    <div class="header-item">
                        <img src="img/throat.png" alt="smile" class="header-item-img">
                        <p class="header-item-description"> <span class="number">02</span>Regular Visits </p>
                    </div>

                </div>
            </div>
            <div class="main-desctop-header-img-box desctop">
                <img class="main-desctop-header-img" src="img/header-mobile-main-img.svg" alt="smilling girl">
            </div>

            <div class="main-mobile-header-img-box mobile">
                <img class="main-mobile-header-img" src="img/header-mobile-main-img.svg" alt="smilling girl">
            </div>
        </div>
        <div class="header-links container">
            <div class="social-links">
                <span class="social-description">Social:</span>
                <a href="https://www.facebook.com/">Facebook</a>
                <a href="https://www.instagram.com/">Instagram</a>
                <a href="https://www.youtube.com/">Youtube</a>
            </div>
            <a href="#" class="desctop main-move offers">Special Offers → </a>
            <a href="#" class="main-link mobile">Read happy stories of kids at Sullivan Heights Dental →</a>
        </div>
        <div class="header-item-box-mobile">
            <div class="header-item">
                <img src="img/happy-girl.png" alt="happy girl" class="header-item-img">
                <p class="header-item-description"><span class="number">01</span>
                    Dental Care</p>
            </div>
            <div class="header-item">
                <img src="img/throat.png" alt="smile" class="header-item-img">
                <p class="header-item-description"> <span class="number">02</span>Regular Visits </p>
            </div>

        </div>

        <div class="move-book mobile">
            <img src="img/star.svg" alt="star" width="25">
            <a href="#" class="book">Book a Visit</a><br>
        </div>

    </div>
</section>