<section class="features container">
    <div class="features-head">
        <p class="features__sub-title"> - Features - </p>
        <h2 class="features__title">Key Features of Sullivan Heights Dental</h2>
        <p class="features__description">At Sullivan Heights Dental, we prioritize the dental health and well-being of
            your child.
        </p>
    </div>

    <div class="features__content block">
        <div class="features-items-container">
            <section class="features__item">
                <div class="blocks__image-container">
                    <img class="item-icon" src="img/friendly-tooth.svg" alt="Friendly tooth cartoon">
                </div>
                <h3 class="item-title">Child-Centered Approach</h3>
                <div class="blocks__divider-component-wrapper">
                    <div class="blocks__divider-component"></div>
                </div>
                <p class="blocks__description">We create a positive, safe, and caring environment in which children feel
                    welcomed.</p>
            </section>

            <section class="features__item">
                <div class="blocks__image-container-grow-up">
                    <img class="item-icon" src="img/grow-up-with-us.svg" alt="grow up from child to teenth with us">
                </div>
                <h3 class="item-title">From Toddlers to Teens</h3>
                <div class="blocks__divider-component-wrapper">
                    <div class="blocks__divider-component"></div>
                </div>
                <p class="blocks__description">Our dentist can be your child's primary dentist from an early age to
                    adulthood.</p>
            </section>
        </div>

        <div class="features-items-container">
            <section class="features__item">
                <div class="blocks__image-container-smiling-baby">
                    <img class="item-icon" src="img/smiling-baby.svg" alt="baby that smiles">
                </div>
                <h3 class="item-title">Preventive Care Emphasis</h3>
                <div class="blocks__divider-component-wrapper">
                    <div class="blocks__divider-component"></div>
                </div>
                <p class="blocks__description">We promote oral health awareness and proper dental hygiene to keep kids
                    cavity-free.</p>
            </section>

            <section class="features__item">
                <div class="blocks__image-container">
                    <img class="item-icon" src="img/tooth-location.svg" alt="Modern tooth location">
                </div>
                <h3 class="item-title">Cutting-Edge Technology</h3>
                <div class="blocks__divider-component-wrapper">
                    <div class="blocks__divider-component"></div>
                </div>
                <p class="blocks__description">We use the latest techniques and equipment, such as digital radiography
                    and
                    laser dentistry.</p>
            </section>
        </div>

        <article class="side-block__item">
            <h3 class="side-bock__title">Times & Availability</h3>
            <hr class="side-block__divider-component">
            <ul class="side-block__availability-list availability">
                <li class="availability__item"><span class="availability__item-bullet-marker">● </span><span
                        class="availability__item-doctor">Dr. Emma Smith</span> | <em class="time">Mon - Tue 01-03
                        pm</em></li>
                <li class="availability__item"><span class="availability__item-bullet-marker">● </span><span
                        class="availability__item-doctor">Dr. Eliza Brown</span> | <em class="time">Tue - Thur 09-11
                        am</em></li>
                <li class="availability__item"><span class="availability__item-bullet-marker">● </span><span
                        class="availability__item-doctor">Dr. Emma Smith</span> | <em class="time">Fri - Sat 02-05
                        pm</em></li>
                <li class="availability__item"><span class="availability__item-bullet-marker">● </span><span
                        class="availability__item-doctor">Dr. John Foster</span> | <em class="time">Mon - Wed 09-11
                        am</em></li>
            </ul>
            <p class="side-blocks__note"><em>* We ask our clients to make an appointment with the dentist in advance. <a
                        class="features-link" href="#">Write</a> to us or give us a call.</em></p>
        </article>
    </div>

</section>