<section class="steps">
  <div class="steps-title-block">
    <p class="steps__subtitle">- Steps -</p>
    <h2 class="steps__title">How to Visit Our Clinic?</h2>
    <p class="steps__text">We kindly ask you to schedule your visit in advance.</p>
  </div>
  <div class="steps__cards">
    <article class="steps__cards__item">
      <img src="img/steps-section/steps-cards-illustration-1.jpg" alt="Dentist treats teeth">
      <h3 class="steps__cards__item-tittle">Step 1: Schedule a Visit</h3>
      <p class="steps__cards__item-text">Call our clinic or use our convenient online appointment booking system to
        schedule a visit for your child. Our friendly staff will assist you.</p>
    </article>
    <article class="steps__cards__item">
      <img src="img/steps-section/steps-cards-illustration-2.jpg" alt="Dentist treats teeth">
      <h3 class="steps__cards__item-tittle">Step 2: Visit Us with Your Child</h3>
      <p class="steps__cards__item-text">Our dentist will get to know your child and examine their oral health. Not a
        single child is afraid of our cheerful and accurate doctors!</p>
    </article>
    <article class="steps__cards__item">
      <img src="img/steps-section/steps-cards-illustration-3.jpg" alt="Dentist treats teeth">
      <h3 class="steps__cards__item-tittle">Step 3: Plan the Next Visit</h3>
      <p class="steps__cards__item-text">It is very important to teach your child to visit the dentist regularly from
        childhood. Plan your next visit to keep your child's teeth healthy.</p>
    </article>
  </div>
  <p class="steps-target-link">Want your child to have a beautiful and healthy smile?<a href="#">Plan your
      appointment</a></p>
  <h3 class="steps__cards__item-tittle">Our Certificates</h3>
  <div class="steps__sertificates">
    <div class="steps__sertificates-card">
      <p class="steps__sertificates-card-item">Distinction Accreditation (2022-2027)</p>
      <p class="steps__sertificates-card-item">Quality Assurance Accreditation (2022-2027)</p>
      <p class="steps__sertificates-card-item">Accreditation Certificate (2020)</p>
    </div>
    <div class="steps__sertificates-card">
      <p class="steps__sertificates-card-item">Infection Control Certificate (2022)</p>
      <p class="steps__sertificates-card-item">Radiography Certification (2023)</p>
      <p class="steps__sertificates-card-item">Certified Excellence in Dental Care (2023)</p>
    </div>
    <div class="steps__sertificates-card">
      <p class="steps__sertificates-card-item">Local Anesthetic Administration Certificate (2022)</p>
      <p class="steps__sertificates-card-item">Nitrous Oxide Analgesia Certificate (2020)</p>
      <p class="steps__sertificates-card-item">Dentistry License (2019)</p>
    </div>
  </div>
</section>