<section class="pediatric-dentistry">
    <div class="pediatric-dentistry__wrapper">
        <h2 class="pediatric-dentistry__wrapper--title">Pediatric Dentistry</h2>
        <div class="pediatric-dentistry__wrapper--text">
            <p class="pediatric-dentistry__wrapper--text-subtitle">Home ></p>
            <p class="pediatric-dentistry__wrapper--text-title">Pediatric Dentistry</p>
        </div>
    </div>
    <p class="pediatric-dentistry__text">We recommend you to take your child to our dental office to make regular dental examinations and cleaning. During your visit, our expert pediatric dentists will thoroughly yet carefully clean your kid's teeth and check for signs to prevent future serious dental problems, such as tooth decay. All our team members are caring and compassionate. They will go the extra mile to make every child feel comfortable during the appointment. We believe that it is of the highest importance to build friendly, trusting relations betwixt your kid and his dentist from an early age. We strive to do everything to make our young patients feel at ease and safe in our environment. If you have any questions, you can call us to make an appointment or visit our dental office in person.</p>
    <div class="pediatric-dentistry__card-dental-emergencies">
        <img class="pediatric-dentistry__card-dental-emergencies--img" src="img/boy-getting-teeth-cleaned.jpg" alt="Boy at the doctor's office">
        <div class="pediatric-dentistry__card-dental-emergencies--content">
            <h3 class="pediatric-dentistry__card-dental-emergencies--title">Dental Emergencies</h3>
            <p class="pediatric-dentistry__card-dental-emergencies--line"></p>
            <p class="pediatric-dentistry__card-dental-emergencies--text">An emergency situation is one that requires the immediate attention of the dentist. We understand that your child can experience an emergency case, and nobody can foresee it. It is advisable to visit our clinic as quickly as you can.</p>
            <ul class="pediatric-dentistry__card-dental-emergencies--list">
                <li class="pediatric-dentistry__card-dental-emergencies--list-item">Severe bleeding;</li>
                <li class="pediatric-dentistry__card-dental-emergencies--list-item">Toothache relief;</li>
                <li class="pediatric-dentistry__card-dental-emergencies--list-item">Knocked out tooth;</li>
                <li class="pediatric-dentistry__card-dental-emergencies--list-item">Tooth broken or chipped;</li>
                <li class="pediatric-dentistry__card-dental-emergencies--list-item">Soft tissue injury, etc.</li>
            </ul>
            <a href="#" class="pediatric-dentistry__card-dental-emergencies--button-lm">Learn More</a>
            <a href="#" class="pediatric-dentistry__card-dental-emergencies--button-visit">Book a Visit</a>
    </div>
    </div>
    <div class="pediatric-dentistry__card-oral-examination">
        <img class="pediatric-dentistry__card-oral-examination--img" src="img/doctor-at-the-computer.jpeg" alt="doctor-at-the-computer">
        <div class="pediatric-dentistry__card-oral-examination--content">
            <h3 class="pediatric-dentistry__card-oral-examination--title">Oral Examination</h3>
            <p class="pediatric-dentistry__card-oral-examination--line"></p>
            <p class="pediatric-dentistry__card-oral-examination--text">We offer a wide range of different procedures based on cutting-edge technologies for examining your children's mouths. All of them are completely safe, fun, and non-traumatic for our little patients.</p>
            <ul class="pediatric-dentistry__card-oral-examination--list">
                <li class="pediatric-dentistry__card-oral-examination--list-item">X-rays/Panorex;</li>
                <li class="pediatric-dentistry__card-oral-examination--list-item">E/O examination;</li>
                <li class="pediatric-dentistry__card-oral-examination--list-item">Oral hygiene evaluation;</li>
                <li class="pediatric-dentistry__card-oral-examination--list-item">Periodontal evaluation;</li>
                <li class="pediatric-dentistry__card-oral-examination--list-item">Occlusal evaluation, etc.</li>
            </ul>
            <a href="#" class="pediatric-dentistry__card-oral-examination--button-lm">Learn More</a>
            <a href="#" class="pediatric-dentistry__card-oral-examination--button-visit">Book a Visit</a>
    </div>
    </div>
    <div class="pediatric-dentistry__card-oral-health">
        <img src="img/child-with-jaw-in-hands.jpeg" alt="Child with a jaw in her hands">
        <h3 class="pediatric-dentistry__card-oral-health--title">Early Infant Oral Health</h3>
        <p class="pediatric-dentistry__card-oral-health--line"></p>
        <p class="pediatric-dentistry__card-oral-health--text">Primary teeth begin to erupt through the gum line at about 6 months of age and continue to appear until about age 3. As soon as the teeth begin to emerge from the gums, you should begin using a soft-bristle baby toothbrush.</p>
        <ul class="pediatric-dentistry__card-oral-health--list">
            <li class="pediatric-dentistry__card-oral-health--list-item">Fluoride treatment;</li>
            <li class="pediatric-dentistry__card-oral-health--list-item">Early proper oral care;</li>
            <li class="pediatric-dentistry__card-oral-health--list-item">Diet focus/counseling;</li>
            <li class="pediatric-dentistry__card-oral-health--list-item">Thumb sucking management;</li>
            <li class="pediatric-dentistry__card-oral-health--list-item">Home care education, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-oral-health--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-oral-health--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-first-dental-visit">
        <img src="img/bear-with-headband.jpeg" alt="Teddy bear with headband">
        <h3 class="pediatric-dentistry__card-first-dental-visit--title">First Dental Visit</h3>
        <p class="pediatric-dentistry__card-first-dental-visit--line"></p>
        <p class="pediatric-dentistry__card-first-dental-visit--text">We recommend that your kid visits a dentist for a first oral exam within 6 months after the eruption of the first tooth and/or about 1 year. The first visit to our clinic is designed to create an emotional connection with the dentist.</p>
        <ul class="pediatric-dentistry__card-first-dental-visit--list">
            <li class="pediatric-dentistry__card-first-dental-visit--list-item">Comprehensive oral examination;</li>
            <li class="pediatric-dentistry__card-first-dental-visit--list-item">Cleaning and removal of plaque;</li>
            <li class="pediatric-dentistry__card-first-dental-visit--list-item">Review of dental hygiene;</li>
            <li class="pediatric-dentistry__card-first-dental-visit--list-item">Counseling on healthy dietary habits;</li>
            <li class="pediatric-dentistry__card-first-dental-visit--list-item">Managing anxiety during dental visits, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-first-dental-visit--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-first-dental-visit--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-fluoride-treatment">
        <img src="img/girl-with-braces.jpeg" alt="Girl with braces at the doctor's office">
        <h3 class="pediatric-dentistry__card-fluoride-treatment--title">Fluoride Treatment</h3>
        <p class="pediatric-dentistry__card-fluoride-treatment--line"></p>
        <p class="pediatric-dentistry__card-fluoride-treatment--text">Water and a lot of foods contain a mineral called Fluoride. Your kid can get a certain amount of this mineral from his diet and from fluoride toothpaste. But we recommend a fluoride treatment to strengthen your child's teeth.</p>
        <ul class="pediatric-dentistry__card-fluoride-treatment--list">
            <li class="pediatric-dentistry__card-fluoride-treatment--list-item">Professional cleanings;</li>
            <li class="pediatric-dentistry__card-fluoride-treatment--list-item">Fluoride varnish treatment;</li>
            <li class="pediatric-dentistry__card-fluoride-treatment--list-item">Fuoride rinse;</li>
            <li class="pediatric-dentistry__card-fluoride-treatment--list-item">Fluoride sealants;</li>
            <li class="pediatric-dentistry__card-fluoride-treatment--list-item">Fluoride gels & foams, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-fluoride-treatment--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-fluoride-treatment--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-nitrous-oxide-sedation">
        <img src="img/doctor-with-lamp.jpeg" alt="Doctor with lamp">
        <h3 class="pediatric-dentistry__card-nitrous-oxide-sedation--title">Nitrous Oxide Sedation</h3>
        <p class="pediatric-dentistry__card-nitrous-oxide-sedation--line"></p>
        <p class="pediatric-dentistry__card-nitrous-oxide-sedation--text">The gas helps the kid to feel relaxed and at ease throughout the dental treatment. The sedation of nitrous oxide is safe for your child's health. The effect will disappear a few minutes after removing the mask.</p>
        <ul class="pediatric-dentistry__card-nitrous-oxide-sedation--list">
            <li class="pediatric-dentistry__card-nitrous-oxide-sedation--list-item">Surgical procedures;</li>
            <li class="pediatric-dentistry__card-nitrous-oxide-sedation--list-item">Emergency care;</li>
            <li class="pediatric-dentistry__card-nitrous-oxide-sedation--list-item">Root canal therapy;</li>
            <li class="pediatric-dentistry__card-nitrous-oxide-sedation--list-item">Orthodontic treatments;</li>
            <li class="pediatric-dentistry__card-nitrous-oxide-sedation--list-item">Dentures and partials, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-nitrous-oxide-sedation--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-nitrous-oxide-sedation--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-pulpotomy">
        <img src="img/child-pulpotomy.jpeg" alt="Child on examination at the doctor">
        <h3 class="pediatric-dentistry__card-pulpotomy--title">Pulpotomy</h3>
        <p class="pediatric-dentistry__card-pulpotomy--line"></p>
        <p class="pediatric-dentistry__card-pulpotomy--text">Pulpotomy is an endodontic procedure that is most commonly used on baby teeth. When tooth decay or damage reaches the pulp of the tooth, the kid may experience severe pain.</p>
        <ul class="pediatric-dentistry__card-pulpotomy--list">
            <li class="pediatric-dentistry__card-pulpotomy--list-item">Dental examination;</li>
            <li class="pediatric-dentistry__card-pulpotomy--list-item">X-ray/Panorex;</li>
            <li class="pediatric-dentistry__card-pulpotomy--list-item">General anesthesia or lught sedation;</li>
            <li class="pediatric-dentistry__card-pulpotomy--list-item">Removal of the infected material;</li>
            <li class="pediatric-dentistry__card-pulpotomy--list-item">Aftercare recommendations, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-pulpotomy--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-pulpotomy--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-sports-mouthguards">
        <img src="img/girl-with-mouthguard.jpeg" alt="Girl with mouthguard">
        <h3 class="pediatric-dentistry__card-sports-mouthguards--title">Sports Mouthguards</h3>
        <p class="pediatric-dentistry__card-sports-mouthguards--line"></p>
        <p class="pediatric-dentistry__card-sports-mouthguards--text">We recommend active kids wearing a sports guard, also called a mouthguard. Sports guards can be put on their teeth while playing sports or taking part in some sports events or competitions to protect a smile from injury.</p>
        <ul class="pediatric-dentistry__card-sports-mouthguards--list">
            <li class="pediatric-dentistry__card-sports-mouthguards--list-item">Oral examination;</li>
            <li class="pediatric-dentistry__card-sports-mouthguards--list-item">"Boil and bite" mouthguards;</li>
            <li class="pediatric-dentistry__card-sports-mouthguards--list-item">Custom mouthguards;</li>
            <li class="pediatric-dentistry__card-sports-mouthguards--list-item">Braces protection;</li>
            <li class="pediatric-dentistry__card-sports-mouthguards--list-item">Stock mouthguards, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-sports-mouthguards--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-sports-mouthguards--button-visit">Book a Visit</a>
    </div>
    <div class="pediatric-dentistry__card-tooth-extraction">
        <img src="img/girl-with-doctor.jpeg" alt="Пirl at a dentist's appointment">
        <h3 class="pediatric-dentistry__card-tooth-extraction--title">Tooth Extraction</h3>
        <p class="pediatric-dentistry__card-tooth-extraction--line"></p>
        <p class="pediatric-dentistry__card-tooth-extraction--text">In certain cases, the tooth requires removal, which is called tooth extraction. Though we do everything possible to remain the tooth, there are such situations, when tooth extraction is the only right and effective decision.</p>
        <ul class="pediatric-dentistry__card-tooth-extraction--list">
            <li class="pediatric-dentistry__card-tooth-extraction--list-item">X-rays/Panorex;</li>
            <li class="pediatric-dentistry__card-tooth-extraction--list-item">Preparation for the tooth removal;</li>
            <li class="pediatric-dentistry__card-tooth-extraction--list-item">General anesthesia or light sedation;</li>
            <li class="pediatric-dentistry__card-tooth-extraction--list-item">Tooth removal;</li>
            <li class="pediatric-dentistry__card-tooth-extraction--list-item">Tooth extraction aftercare recommendations, etc.</li>
        </ul>
        <a href="#" class="pediatric-dentistry__card-tooth-extraction--button-lm">Learn More</a>
        <a href="#" class="pediatric-dentistry__card-tooth-extraction--button-visit">Book a Visit</a>
    </div>
</section>