<section class="clinics">
  <p class="clinics__title">- Clinics</p>
  <p class="clinics__subtitle">Our Dental Clinics</p>
  <p class="clinics__description">
    Visit one of our offices in New York or Los Angeles.
  </p>
</section>

<section class="clinics-inner">
  <div class="clinics_card-booking">
    <div class="clinics_card-photo">
      <img
        class="clinic-booking-img"
        src="img/schedule-clinic-booking.jpg"
        alt="A smiling girl"
      />
    </div>

    <h3 class="clinics_card-title">Timely Dental Care</h3>
    <p class="clinics_card-line">_______</p>
    <p class="clinics_card-text">
      Teach your child about oral health from an early age.
    </p>

    <button class="clinics_card-button" type="submit">Book a Visit</button>
  </div>

  <div class="card-ny">
    <div class="map-ny">
      <img
        class="map-ny-img"
        src="img/schedule-clinic-booking.jpg"
        alt="A smiling girl"
      />
    </div>

    <h3 class="title-ny">Working Hours</h3>
    <p class="line-ny">_______</p>
    <p class="text-ny">Monday – Thursday: 8 am – 6 pm</p>
    <p class="text-ny">Friday: 8 am – 4 pm</p>
    <p class="text-ny">Saturday: 10 am – 4 pm</p>
    <div class="ny-tel">
      <div class="icon-frame">
        <svg   xmlns="http://www.w3.org/2000/svg" class="schedule-icon">
          <path
            d="M90.1,75.1l-0.5-1c-1.4-3.3-18.6-8.3-20-8.4l-1.1,0.1c-2.1,0.4-4.4,2.3-8.9,6.2c-0.9,0.8-2.1,1-3.2,0.4  c-5.9-3.3-13.1-9.9-16.7-13.9c-3.9-4.3-8.6-11.4-10.8-17.1c-0.4-1.1,0-2.3,0.8-3.1c5.1-4.6,7.3-6.8,7.5-9.2c0.1-1.4-2.9-19.1-6-20.8  l-0.9-0.6c-2-1.3-5-3.2-8.3-2.5c-0.8,0.2-1.6,0.5-2.3,0.9C17.5,7.5,12,11.3,9.5,16.2C8,19.3,7.3,47.4,28.3,71.1  c20.8,23.5,46.5,24.5,50.3,23.7l0.1,0l0.3-0.1c5.2-1.9,9.6-6.8,11.3-8.9C93.4,82.1,91.3,77.6,90.1,75.1z" style="" fill="rgb(41, 73, 140)"
          />
        </svg>
      </div>
      <div>
        <p class="card-text-ny">+1 (234) 56 78 90</p>
      </div>
    </div>
    
    <div class="ny-email">
      <div class="icon-frame">
        <svg xmlns="http://www.w3.org/2000/svg" class="schedule-icon">
          <path
            d="M43.1,6.9H4.9c-0.3,0-0.5,0.4-0.3,0.7l19.1,19.1c0.2,0.2,0.4,0.2,0.6,0L43.4,7.6C43.7,7.3,43.5,6.9,43.1,6.9z"
            style="" fill="rgb(41, 73, 140)"
          ></path>
          <path
            d="M1.2,36.7L13.9,24c0.2-0.2,0.2-0.4,0-0.6L1.2,10.8c-0.2-0.2-0.7-0.1-0.7,0.3v25.4C0.5,36.8,0.9,37,1.2,36.7z"
            style="" fill="rgb(41, 73, 140)"
          ></path>
          <path
            d="M30.8,27.4c-0.2-0.2-0.4-0.2-0.6,0L25.7,32c-0.5,0.5-1.1,0.7-1.7,0.7s-1.2-0.2-1.7-0.7l-4.6-4.6c-0.2-0.2-0.4-0.2-0.6,0   L4.1,40.4c-0.2,0.2-0.1,0.7,0.3,0.7h39.2c0.3,0,0.5-0.4,0.3-0.7L30.8,27.4z"
            style="" fill="rgb(41, 73, 140)"
          ></path>
          <path
            d="M46.8,10.8L34.1,23.5c-0.2,0.2-0.2,0.4,0,0.6l12.7,12.7c0.2,0.2,0.7,0.1,0.7-0.3V11.1C47.5,10.7,47.1,10.6,46.8,10.8z"
            style="" fill="rgb(41, 73, 140)"
          ></path>
        </svg>
      </div>
      <div>
        <p class="card-text-ny">sullivan.heights_ny@email.com</p>
      </div>
    </div>
  </div>

  <div class="clinics_card-booking">
    <div class="clinics_card-photo">
      <img
        class="clinic-booking-img"
        src="img/schedule-clinic-booking.jpg"
        alt="A smiling girl"
      />
    </div>

    <h3 class="clinics_card-title">Timely Dental Care</h3>
    <p class="clinics_card-line">_______</p>
    <p class="clinics_card-text">
      Teach your child about oral health from an early age.
    </p>
    <div class=""></div>
    <button class="clinics_card-button" type="submit">Book a Visit</button>
  </div>
</section>
