<section class="schedule-visit">

<div class="schedule-visit-container">
<div class="plan-visit">
    <p class="visit-title">- Visit -</p>
    <h2 class="visit-subtitle">Plan Your Visit</h2>
    <p class="visit-warning">We kindly ask our clients to plan their visits in advance.</p>
    <p class="visit-description">Making an appointment at our dentistry is easy and hassle-free. All you need to do is fill out the form on our website and we will send you a confirmation. Or you can call one of our friendly receptionists, who will happily assist you in scheduling an appointment. Before the visit:</p>
    <div class="visit-plan__list">
        <ul class="visit-plan__list-row">
        <li class="visit-plan__list-item">Brush your kid's teeth and floss thoroughly to remove any plaque or food particles that may be stuck between their teeth;</li>
        <li class="visit-plan__list-item">Make a list of any questions or concerns you or your kid may have so you won’t forget to ask your dentist during the visit;</li>
        <li class="visit-plan__list-item">Be prepared to discuss your kid's dental history, including any past treatments and procedures your child has received.</li>
    </ul>
    </div>
    <p class="visit-description">If you have any special requests or want to ask a question, fill out the form on the right and we will reach out to you soon.</p>
</div>

<div class="schedule-form-box">
  <div class="schedule-form-inner">
    <form id="scheduleForm" class="schedule-form">
        <div class="field-name">
          <input type="text" id="nameSchedule" name="name" placeholder="Your name*" class="field-input"/>
          <div id="errorMessageName" style="display: none"; class="error-message">Fill in this field, please</div>
        </div>
        <div class="field-phone">
          <input type="tel" id="phoneSchedule" name="phone" placeholder="Phone number*" class="field-input"/>
          <div id="errorMessagePhone" style="display: none"; class="error-message">Enter the number in 12 digit format (for example, 380505522111)</div>
        </div>
        <div class="field-email">
            <input type="email" id="email" name="email" placeholder="Email" class="field-input"/>
        </div>
        <div class="field-message">
            <input type="text" id="message" name="message" placeholder="Your message" class="field-input"/>
        </div>
        <div class="field-button-send">
            <button type="submit" value="Send" class="button-send" id="sendScheduleButton">Send</button>
        </div>
    </form>
    <div id="scheduleFormStatus" style="display: none"></div>
    </div>
</div>
</div>



</section>