<section class="clinics">
  <p class="clinics__title">- Clinics</p>
  <h2 class="clinics__subtitle">Our Dental Clinics</h2>
  <p class="clinics__description">
    Visit one of our offices in New York or Los Angeles.
  </p>
</section>

<section class="clinics-inner">
  
  <div class="clinics_card-booking">
    <div class="clinics_card-photo">
      <img
        class="clinic-booking-img"
        src="img/schedule-clinic-booking.jpg"
        alt="A smiling girl"
      />
    </div>

    <h3 class="clinics_card-title">Timely Dental Care</h3>
    <p class="clinics_card-line">_______</p>
    <p class="clinics_card-text">
      Teach your child about oral health from an early age.
    </p>
    <a href="#schedule-visit-form" class="clinics_card-button">Book a Visit</a>
  </div>

<!-- NY-card-->
  <div class="card-clinic">
    <div class="map-clinic">
      <iframe class="map-clinic-img" alt="NY clinic's locatiion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9901420310603!2d-73.98608732439084!3d40.74024243588683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a0ab7d89eb%3A0xbf87ad431830f203!2zNTUgTGV4aW5ndG9uIEF2ZSwgTmV3IFlvcmssIE5ZIDEwMDEwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1691141288325!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <h3 class="clinic-title">Working Hours</h3>
    <p class="clinic-line">_______</p>
    <p class="clinic-schedule-text">Monday – Thursday: 8 am – 6 pm</p>
    <p class="clinic-schedule-text">Friday: 8 am – 4 pm</p>
    <p class="clinic-schedule-text">Saturday: 10 am – 4 pm</p>
    
    <div class="clinic-phone">
      <div class="shedule-clinic-icon-container">
        <svg   xmlns="http://www.w3.org/2000/svg" fill="rgb(40, 73, 140)" class="schedule-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg>
      </div>
      <div class="clinic-phone-container">
        <p class="clinic-phone-number" ><a href="tell:+1 (234) 56 78 90"
          class="clinic-phone-number-ny" id="ny-clinic-phone-number">+1 (234) 56 78 90</a></p>
      </div>
    </div>

    <div class="clinic-email">
      <div class="shedule-clinic-icon-container">
        <svg   xmlns="http://www.w3.org/2000/svg" fill="rgb(40, 73, 140)" class="schedule-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg>
      </div>
      <div class="clinic-email-container">
        <p class="clinic-email-item" ><a href="mailto:sullivan.heights_ny@email.com"
          class="clinic-email-item" id="ny-clinic-email">sullivan.heights_ny@email.com</a></p>
      </div>
    </div>
  </div>

<!-- LA-card-->
  <div class="card-clinic">
    <div class="map-clinic">
      <iframe class="map-clinic-img" alt="LA clinic's locatiion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.7025720770407!2d-118.24594349396352!3d34.05149986729458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c648d9808fbd%3A0xb79dfbc6ae338c12!2zMTAwIFMgTWFpbiBTdCwgTG9zIEFuZ2VsZXMsIENBIDkwMDEyLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1691142017900!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <h3 class="clinic-title">Working Hours</h3>
    <p class="clinic-line">_______</p>
    <p class="clinic-schedule-text">Monday – Thursday: 8 am – 6 pm</p>
    <p class="clinic-schedule-text">Friday: 8 am – 4 pm</p>
    <p class="clinic-schedule-text">Saturday: 10 am – 4 pm</p>
    
    <div class="clinic-phone">
      <div class="shedule-clinic-icon-container">
        <svg   xmlns="http://www.w3.org/2000/svg" fill="rgb(40, 73, 140)" class="schedule-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        </svg>
      </div>
      <div class="clinic-phone-container">
        <p class="clinic-phone-number" ><a href="tell:+1 (234) 56 78 91"
          class="clinic-phone-number-la" id="la-clinic-phone-number">+1 (234) 56 78 91</a></p>
      </div>
    </div>
    
    <div class="clinic-email">
      <div class="shedule-clinic-icon-container">
        <svg   xmlns="http://www.w3.org/2000/svg" fill="rgb(40, 73, 140)" class="schedule-icon" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
        </svg>
      </div>
      <div class="clinic-email-container">
        <p class="clinic-email-item" ><a href="mailto:sullivan.heights_la@email.com"
          class="clinic-email-item" id="la-clinic-email">sullivan.heights_la@email.com</a></p>
        
      </div>
    </div>

  </div>
</section>

<section class="schedule-photo">
  <div class="schedule-photo-frame">
    <img
      class="schedule-photo-img"
      src="img\schedule-visit-photo.jpg" 
      alt="Dentist's cabinet"
    />
  </div>

</section>
