<section class="clinics">
    <p class="clinics__title">- Clinics</p>
    <p class="clinics__subtitle">Our Dental Clinics</p>
    <p class="clinics__description">Visit one of our offices in New York or Los Angeles.</p>
</section>


<section class="clinics-inner">

    <div class="clinics_card-booking">
        
        <div class="clinics_card-photo">  
            <img class="clinic-booking-img" src="img/schedule-clinic-booking.jpg" alt="A smiling girl">
        </div>
       
        <h3 class="clinics_card-title">Timely Dental Care</h3> 
        <p class="clinics_card-line">_______</p>
        <p class="clinics_card-text">Teach your child about oral health from an early age.</p>
        
        <button class="clinics_card-button" type="submit">Book a Visit</button>
    </div>

    <div class="clinics_card-booking">
        
        <div class="clinics_card-photo">  
            <img class="clinic-booking-img" src="img/schedule-clinic-booking.jpg" alt="A smiling girl">
        </div>
       
        <h3 class="clinics_card-title">Timely Dental Care</h3> 
        <p class="clinics_card-line">_______</p>
        <p class="clinics_card-text">Teach your child about oral health from an early age.</p>
        
        <button class="clinics_card-button" type="submit">Book a Visit</button>
    </div>

    <div class="clinics_card-booking">
        
        <div class="clinics_card-photo">  
            <img class="clinic-booking-img" src="img/schedule-clinic-booking.jpg" alt="A smiling girl">
        </div>
       
        <h3 class="clinics_card-title">Timely Dental Care</h3> 
        <p class="clinics_card-line">_______</p>
        <p class="clinics_card-text">Teach your child about oral health from an early age.</p>
        
        <button class="clinics_card-button" type="submit">Book a Visit</button>
    </div>


</section>
