<section class="terms-conditions-privacy">
  <div class="terms-conditions">
    <div class="terms">
      <h2 class="terms-title">Terms & Conditions</h2>
      <p class="terms-text">
        Welcome to Sullivan Heights Dental Clinic! By accessing and using our
        website, you agree to comply with the following terms and conditions:
      </p>

      <div class="conditions-list">
        <div class="conditions-item-1">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item1">
              Intellectual Property
            </p>

            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-1"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem1" style="display: none;">
            <p>
              Our Sullivan Heights Dental Clinic owns all rights to our content,
              including our Logo and any photographs or images associated with
              our business. It is prohibited to copy, reproduce, modify,
              publish, upload, post, transmit, or distribute our intellectual
              property in any way without our prior written consent. Our content
              and images may not be used for commercial purposes. This includes
              websites, products, advertising, or other commercial promotions.
            </p>
          </div>
        </div>

        <div class="conditions-item-2">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item2">
              Use of Information
            </p>
            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-2"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem2" style="display: none;">
            <p>
              All personal information collected on our website is voluntary and
              used solely for its intended purpose. This includes any personal
              information you provide when submitting an inquiry or registering
              to become a patient. We take extra precautions to ensure your
              personal information remains private and secure. We do not sell,
              trade, or rent your personal information to any third parties.
            </p>
          </div>
        </div>

        <div class="conditions-item-3">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item3">
              Limitation of Liability
            </p>
            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-3"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem3" style="display: none;">
            <p>
              At Sullivan Heights Dental Clinic, we strive to provide the best
              possible service and care to our patients. However, we cannot be
              held liable for any further negligence, injury, or harm to our
              patients or to the property of third parties. As such, our
              services are provided without any warranty or guarantee regarding
              their results or outcomes. Furthermore, we cannot guarantee the
              accuracy, reliability, or completeness of any treatment
              recommendation or service provided. We encourage you to discuss
              any concerns or questions about our services with our dentists and
              staff. Nothing in this policy should be construed as a waiver or
              limitation of our liability. All limits or disclaimers of
              liability will be subject to state and federal laws.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="privacy">
      <h2 class="privacy-title">Privacy Policy</h2>
      <p class="privacy-text">
        We understand the importance of privacy and security when it comes to
        the safety of our patient's information.
      </p>
      <div class="conditions-list">
        <div class="conditions-item-4">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item4">
              Information Collection
            </p>
            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-4"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem4" style="display: none;">
            <p>
              We collect, store, and use information submitted on our website in
              a variety of ways. The main purpose of collecting this information
              is to provide our visitors with the best possible dental service
              and patient experience. We also collect, store, and use
              information for research, marketing and promotional purposes,
              website features, and customizing our website.
            </p>
          </div>
        </div>

        <div class="conditions-item-5">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item5">
              Data Security
            </p>
            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-5"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem5" style="display: none;">
            <p>
              We employ a variety of organizational and physical security
              measures to protect the privacy of our patients' personal
              information. All of our staff members are required to adhere to
              our strict confidentiality policy when handling patient
              information. We do not share or distribute our patient data with
              any third parties except those necessary to provide care and
              treatment.
            </p>
          </div>
        </div>

        <div class="conditions-item-6">
          <div class="text-icon">
            <p class="conditions-title-item" id="title-item6">
              Children's Privacy
            </p>
            <div class="icon-container">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(40, 73, 140)"
                class="schedule-icon"
                id="chevron-icon-6"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </div>
          </div>
          <div id="textConditionsItem6" style="display: none;">
            <p>
              Our website and services are not directed to children under 13
              years old, and we do not knowingly collect personal information
              from children under 13. If we become aware that we have
              inadvertently received personal information from a child under 13,
              we will delete such information from our records immediately. We
              encourage parents to use parental control tools available from
              online services to help provide children with a safe and
              controlled online environment.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="terms-conditions-warning">
    We may share your personal information with our third-party service
    providers who assist our business in the areas of payment processing, web
    hosting, and customer service. We may also use your personal information to
    analyze and improve our services and to communicate with you. We may also
    collect non-personal information such as your IP address and browser
    information to help diagnose problems with our servers and enhance your
    experience on our website. We do not store any payment information locally
    on our website. All payment information is securely stored with our payment
    processor.
  </div>
</section>
