<section class="terms-conditions">
<div class="terms">
<h2 class="terms-title">Terms & Conditions</h2>
<p class="terms-text">Welcome to Sullivan Heights Dental Clinic! By accessing and using our website, you agree to comply with the following terms and conditions:</p>
<div class="conditions-list">
    <h2 class="conditions-list-item">Intellectual Property</h2> 
    <div id="textTermsConditions" style="display: none;">
        <p>Our Sullivan Heights Dental Clinic owns all rights to our content, including our Logo and any photographs or images associated with our business. It is prohibited to copy, reproduce, modify, publish, upload, post, transmit, or distribute our intellectual property in any way without our prior written consent. Our content and images may not be used for commercial purposes. This includes websites, products, advertising, or other commercial promotions.</p>
    </div>
    <div class="chevron-box">
        <!--<i id="toggleIconChevronDown" class="bi bi-chevron-down" onmousedown="viewDiv()"></i>-->
                     
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" onmousedown="viewDiv()">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>

      


      <i id="toggleIconChevronUp" class="bi bi-chevron-up" style="display: none;"></i>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
      </svg>
    </div>
    
    

</div>




</div>

<div class="privacy">
    <h2 class="privacy-title">Privacy Policy</h2>
    <p class="privacy-text">We understand the importance of privacy and security when it comes to the safety of our patient's information.</p>
</div>

<div class="terms-conditions-warning">We may share your personal information with our third-party service providers who assist our business in the areas of payment processing, web hosting, and customer service. We may also use your personal information to analyze and improve our services and to communicate with you. We may also collect non-personal information such as your IP address and browser information to help diagnose problems with our servers and enhance your experience on our website. We do not store any payment information locally on our website. All payment information is securely stored with our payment processor.</div>
</section>