<section class="services">
    <p>- Service -</p>
    <h2>Services for Kids at Our Clinic</h2>
    <div class="services__content">
        <div class="service__content-text">
            <p>We offer a variety of dental services for kids of different ages</p>
            <p>Our attentive dentists will make each visit as comfortable as possible for your child.</p>
        </div>
        <div>
            <h3>Discount for the First Visit</h3>
            <p>Book your visit and get a 15% discount!</p>
        </div>
    </div>
</section>